.space1 {
  display: flex;
  justify-content: space-between;
}

.w50 {
  width: 49.75% !important;
}
.center {
  display: flex;
  justify-content: center;
}
.pr {
  padding-right: 10px;
}
.mr-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  // padding-bottom: 2px;
  display: flex;
  align-items: center;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.parant-color {
  color: #964b00;
}
.child-color {
  color: #11802c;
}
.relative {
  position: relative;
}
.result-panel {
  .report-header {
    position: sticky;
    top: 0;
    z-index: 999;

    .report-header-flex {
      flex: 0 0 100%;
      max-width: 100%;

      .report-header-bg {
        background-color: #edeef4 !important;
        // font-size: 14px;
        // font-weight: 500;
        text-transform: capitalize !important;
        font-size: var(--table-header-font-size) !important;
        font-weight: 600;
        border: none !important;

        .parant {
          cursor: pointer;

          .report-header-flex {
            flex: 1;
          }

          .report-header-const {
            width: 503px;

            .ml-210 {
              margin-left: 210px;
            }
          }
        }

        .part-1 {
          // flex-grow: 1;
          flex: 1;
          padding: 3px 5px;
        }
        .part-2 {
          flex: 1;
          padding: 3px 0px;
          width: 50px;
          span {
            font-size: var(--table-data-sub-font-size);
            font-weight: 500 !important;
            color: var(--table-header-sub-color) !important;
          }
        }
      }
    }
  }
}
.space {
  width: 15px;
}
.border-left-secondary {
  border-left: 1px solid #cccccc !important;
}
.result-panel
  .report-header
  .report-header-flex
  .report-header-bg
  .parant
  .report-header-flex {
  padding: 0.5rem !important;
}
.margin-27 {
  margin: 27px !important;
}
.min-w132 {
  min-width: 132px !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.report-body {
  cursor: pointer;

  .report-data-flex {
    flex: 1;
    .report-data-flex-child {
      flex-grow: 1;
      padding: 0.532rem;
    }
  }
  .part-2 {
    span {
      margin-right: 5px;
    }
  }

  .report-data-const {
    width: 503px;
    .report-data-const-child {
      padding: 0.55rem;
      .mr-15rem {
        margin-right: 15rem;
      }
      .mr-5px {
        margin-right: 5px;
      }
    }
  }
}
.part-1,
.part-2 {
  flex-grow: 1;
  padding: 3px 5px;
}

.part-2 {
  text-align: right;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
}
.underline {
  font-weight: bold;
}
.flex-end {
  align-self: flex-end !important;
}
.margin {
  margin-bottom: 15px;
  margin-top: 5px;
}
.xp-3 {
  padding: 0 0.55rem;
  text-align: right;
}
.plus {
  display: block;
}

.minus {
  display: none;
}

.opened .plus {
  display: none;
}

.opened .minus {
  display: block;
}
