.border-right {
  border-right: 1px solid #dbe0e1;
}

.w250 {
  width: 250px;
}

.text-align-center {
  text-align: center;
}

.lead-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: none !important;
  padding-right: 10px;
  gap: 10px;
}
