<div class="content-wrapper" [appAccess]="appAccessForLead" [parentId]="pageId">
    @if(type === ''){

    <app-table [pagination]="pagination" [columns]="columns" [columnsName]="columnsName" columnID="leadId"
        [dataSource]="tableData" (pageChanged)="pageChanged($event)" (onSelect)="onSelect($event)"  [sortColumnsName]="sortColumnName"
        [hideSelectAll]="isHideSelectedAll">
        <ng-template cellDef="customerRefNo" let-element>
            <a href="">{{element.serviceRefNo}}</a>
        </ng-template>
        <ng-template cellHeaderDef="customerName">
            <div class="header-cell-title">Customer No</div>
            <div class="header-cell-subtitle">Customer Name</div>
        </ng-template>
        <ng-template cellDef="customerName" let-element>
            @if(element.customerName.length>25){
            <div class="table-cell-subtitle">{{element.customerRefNo}}</div>
            <div class="ellipse-text" matTooltip="{{element.customerName}}">{{element.customerName}}</div>
            }
            @else{
            <div class="table-cell-subtitle">{{element.customerRefNo}}</div>
            <div>{{element.customerName}}</div>

            }
        </ng-template>
        <ng-template cellDef="createdDate" let-element>
            <div>{{element.createdBy}}</div>
            <div class="table-cell-subtitle ">{{element.createdDate | appDate}}</div>
        </ng-template>
        <ng-template cellHeaderDef="createdDate">
            <div class="header-cell-title">Created By</div>
            <div class="header-cell-subtitle">Created Date</div>
        </ng-template>
        <ng-template cellDef="statusDescription" let-element>
            <div class="status status-{{element.statusValue}}">{{element.statusDescription}}</div>
        </ng-template>
        <ng-template cellDef="action" let-element>
            <app-icon-button name="open" toolTip="Open" (click)="navigateToDetail(element.leadId)"></app-icon-button>
        </ng-template>
        @if(this.customerRef===0 ){
        @if(this.serviceRef === 0){
        <ng-template cellHeaderDef="action">
            <app-icon-button name="open" toolTip="Open Selected" (click)="selectAllNavigate()"></app-icon-button>
        </ng-template>

        <ng-template #slotLeft>
            <app-search #appSearch [searchTemplate]="searchTemplate"></app-search>
        </ng-template>
        }

        }

        @if(this.serviceFlag === 'Y' && this.serviceStatus === 'OPEN'){
        <ng-template #slotRight>
            <app-icon-button name="add" toolTip="Add New" (click)="createNewLead()"
                [appButtonAccess]="btnAccessForAdd"></app-icon-button>
        </ng-template>
        }
    </app-table>
    }
    @else{
    <app-table [pagination]="pagination" [columns]="serviceColumns" [columnsName]="serviceColumnsName" columnID="leadId"
        [dataSource]="tableData" (pageChanged)="pageChanged($event)" (onSelect)="onSelect($event)"
        [hideSelectAll]="isHideSelectedAll">
        <ng-template cellHeaderDef="leadRefNo">
            <div class="header-cell-title">Lead No</div>
            <div class="header-cell-subtitle">Lead Type</div>
        </ng-template>
        <ng-template cellDef="leadRefNo" let-element>
            <div>{{element.leadRefNo}}</div>
            <div class="table-cell-subtitle ">{{element.leadTypeDescription}}</div>
        </ng-template>

        <ng-template cellDef="statusDescription" let-element>
            <div class="status status-{{element.statusValue}}">{{element.statusDescription}}</div>
        </ng-template>
        <ng-template cellDef="description" let-element>
            @if(element.description.length > 30){ <div class="table-ellipse" [matTooltip]="element.description">
                {{element.description}}
            </div>
            }
            @else{
            {{element.description}}
            }
        </ng-template>

        <ng-template cellDef="action" let-element>
            <app-icon-button name="open" toolTip="Open" (click)="navigateToDetail(element.leadId)"></app-icon-button>
        </ng-template>
        @if(this.serviceFlag === 'Y' && this.serviceStatus === 'OPEN'){
        <ng-template #slotRight>
            <app-icon-button name="add" toolTip="Add New" (click)="createNewLead()"
                [appButtonAccess]="btnAccessForAdd"></app-icon-button>
        </ng-template>
        }
    </app-table>

    }
</div>

<ng-template #searchTemplate>
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title">Lead Search</div>
            <div class="slot-right">
                <div class="btn-group">
                    <app-icon-button name="search" toolTip="Search" (click)="onSearch()"
                        appButtonAccess="CrmCustLeaAppSearchBtn"></app-icon-button>
                    <app-icon-button name="clear" toolTip="Clear" (click)="doClear()"
                        appButtonAccess="CrmCustLeadAppClearBtn"></app-icon-button>
                    <app-icon-button name="close" (click)="appSearch.close()"></app-icon-button>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <scroll>
                <div class="dialog-content-inner">
                    <form #l="ngForm" (ngSubmit)="onSearch()">
                        <row>
                            <div class="col-md-4 border-right">
                                <row>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Customer No" defaultOption="--Select--"
                                            placeholder="Enter Customer No" [items]="initialData.DDLValues.DDLCustomer"
                                            key="code" keyName="code" [(ngModel)]="searchParams.customerRefNo"
                                            name="customerRefNo" (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Service No"
                                            placeholder="Enter Service No" defaultOption="--Select--"
                                            [items]="initialData.DDLValues.DDLCustomerService" key="code" keyName="code"
                                            [(ngModel)]="searchParams.serviceRefNo" name="serviceRefNo"
                                            (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                </row>
                            </div>
                            <div class="col-md-4 border-right">
                                <row>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="text" label="Lead No" placeholder="Enter Lead No"
                                            [(ngModel)]="searchParams.leadRefNo" name="leadRefNo "
                                            (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Lead Type"
                                            placeholder="Select Lead Type" [items]="initialData.DDLValues.DDLLeadType"
                                            key="constant" keyName="description" defaultOption="--Select--"
                                            [(ngModel)]="searchParams.leadTypeValue" name=" leadTypeValue"
                                            (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Assigned Department"
                                            [(ngModel)]="searchParams.assignedDepartmentValue"
                                            defaultOption="--Select--" placeholder="Select Assigned Department"
                                            name="assignedDepartmentValue"
                                            [items]="initialData.DDLValues.DDLAssignedDepartment" key="constant"
                                            keyName="description" (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Product Type"
                                            placeholder="Select Product Type" defaultOption="--Select--"
                                            [(ngModel)]="searchParams.productTypeValue" name="productTypeValue"
                                            [items]="initialData.DDLValues.DDLProductType" key="constant"
                                            keyName="description" (onEnter)="onSearch()"></app-input-control>
                                    </div>

                                </row>
                            </div>
                            <div class="col-md-4">
                                <row>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Created By" defaultOption="--Select--"
                                            placeholder="Enter Created By" [(ngModel)]="searchParams.createdBy"
                                            name="createdBy" [items]="initialData.DDLValues.DDlAllUser" key="constant"
                                            keyName="description" (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="date" label="Created Date"
                                            placeholder="Select Created Date" [(ngModel)]="searchParams.createdDateFrom"
                                            name="createdDateFrom" (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                    <div class="col-md-12 mb26">
                                        <app-input-control type="select" label="Status" placeholder="Select Status"
                                            [(ngModel)]="searchParams.statusValue" name="statusValue"
                                            [items]="initialData.DDLValues.DDLLeadStatus" key="constant"
                                            defaultOption="--Select--" keyName="description"
                                            (onEnter)="onSearch()"></app-input-control>
                                    </div>
                                </row>
                            </div>
                        </row>
                    </form>
                </div>
            </scroll>
        </div>
    </div>
</ng-template>

<ng-template #breadCrumb>
    <div class="breadcrumb">
        <ul>
            <li class="screen-name">
                <ion-icon src="assets/icons/accordian/lead.svg"></ion-icon>
                <div class="screen-text">Lead</div>
            </li>
        </ul>
    </div>
</ng-template>