<div class="login">
    <div class="login-slot-left">
        <img src="assets/img/login-side.png" alt="">
    </div>
    <div class="login-slot-right">
        <div class="login-box">
            <div class="login-brand">
                <img src="assets/logo.png" alt="">
            </div>
            @if(!isCompleted){
            <div class="login-title">Forgot Password?</div>
            <form class="pt-3 h100" #l="ngForm" (ngSubmit)="onSubmit(l)" autocomplete="off">
                <app-input-control label="User Name / Email ID" type="text" [errorTrue]="errorTrue" [required]="true"
                    [(ngModel)]="login.userLoginId" name="userLoginId"></app-input-control>
                <div class="spacer-1"></div>
                <button class="btn-login">Next</button>
                <div class="spacer-1"></div>
                <div class="text-center">
                    <a href="/login" class="btn-link">Back to Login</a>
                </div>
            </form>
            } @else {
            <div class="login-title">Email Sent</div>
            <div class="login-message-icon">
                <img src="assets/icons/email_sent.svg" alt="">
            </div>
            <div class="login-message">
                OTP and Password reset link has been sent to your registered email ID
            </div>
            <div class="spacer-2"></div>
            <div class="text-center">
                <a href="/verify-otp" class="btn-login">Next</a>
            </div>
            }
        </div>
    </div>
</div>