<div class="v-flex h100">
    <div class="search_text pl12px">
      <app-input-control placeholder="Search By Any File Name" type="text" [(ngModel)]="filterFileName"
        name="filterFileName" [search]="true"></app-input-control>
    </div>
    <div class="flex-1 relative mh100">
      <scroll>
        <table class="app-table account-table">
          <thead class="app-table-head">
            <tr class="app-table-header-row">
              <th class="app-table-header-cell text-center">#</th>
              <th class="app-table-header-cell">
                <div class="header-cell-title">File Name</div>
                <div class="header-cell-subtitle">
                  Created By | Date & Time
                </div>
              </th>
              <th class="app-table-header-cell">File Format</th>
              <th class="app-table-header-cell">Size</th>
              <th class="app-table-header-cell">
                <div class="flex-center">
                  <app-icon-button name="add" toolTip="Add New" (click)="createNewAttachment()">
                  </app-icon-button>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="app-table-body">
            @for (doc of salesInvoice.plistSalAttachments | filterAndSort : filterFileName : 'attachmentFileName' :
            false; track doc;
            let i = $index) {
            <tr class="app-table-row">
              <td class="app-table-cell text-center">
                {{ i + 1 }}
              </td>
              <td class="app-table-cell">
                <div>
                  {{ doc.attachmentFileName }}
                </div>
                <div class="table-cell-subtitle">
                  {{ doc.modifiedByFullName }} |
                  {{
                  doc.createdDate
                  | appDate
                  }}
                  {{
                  doc.createdDate
                  | appDate:'hh:mm a'
                  }}
                </div>
              </td>
              <td class="app-table-cell">
                {{ doc.attachementType }}
              </td>
              <td class="app-table-cell">
                {{ doc.attachmentSize }}
              </td>
              <td class="app-table-cell">
                <div class="flex-center">
                  <app-icon-button name="download" toolTip="Download"
                    (click)="downloadAttachment(doc, 'down')"></app-icon-button>

                  <app-icon-button name="doc-view" toolTip="View"
                    (click)="downloadAttachment(doc, 'view')"></app-icon-button>
                  <app-icon-button name="doc-delete" toolTip="Delete"
                    (click)="deleteActAttachmentFile(doc)"></app-icon-button>

                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </scroll>
    </div>
  </div>

  <ng-template #attachmentDialog>
    <div class="dialog-container">
      <div class="dialog-header">
        <div class="dialog-title">
          <ion-icon class="fos-20" src="assets/icons/finance.svg"></ion-icon>
          Sales Invoice> Detail > Add Documents
        </div>
        <div class="slot-right">
          <div class="btn-group">
            <app-icon-button name="close" toolTip="Close" (click)="dialog.closeDialog()"></app-icon-button>
          </div>
        </div>
      </div>
      <div class="dialog-content">
        <div class="dialog-content-inner h100">
          <app-drop-zone [multiple]="true" [accept]="accept" [fileType]="fileType"
            (onUpload)="uploadAttachemnt($event)"></app-drop-zone>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #attachmentDialog>
    <div class="dialog-container">
      <div class="dialog-header">
        <div class="dialog-title">
          <ion-icon class="fos-20" src="assets/icons/finance.svg"></ion-icon>
          Advance Receipt Note> Detail > Add Documents
        </div>
        <div class="slot-right">
          <div class="btn-group">
            <app-icon-button name="close" toolTip="Close" (click)="dialog.closeDialog()"></app-icon-button>
          </div>
        </div>
      </div>
      <div class="dialog-content">
        <div class="dialog-content-inner h100">
          <app-drop-zone [multiple]="true" [accept]="accept" [fileType]="fileType"
            (onUpload)="uploadAttachemnt($event)"></app-drop-zone>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #Template>
    <div class="ab bgc">
      <div class="rel">
        <div class="p-fix d-flex justify-content-end p10">
          <div class="download-button">
            <button color="primary" (click)="downloadImage()">Download</button>
          </div>
          <div class="close-button">
            <button color="danger" (click)="dialog.closeAll()">Close</button>
          </div>
        </div>
        <div class="d-flex align-items-center h100 justify-content-center w100">
          <div class="d-flex align-items-center h100 justify-content-center w100 relative">
            <div class="ab">
              <div class="rel">
                <div class="dis-none wcheck active">
                  <img [src]="filePath | appSafe : 'resourceUrl'" alt="PreviewImages" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <app-documents #DocumentsComponent class="none"></app-documents>

  <ng-template #slotLeft>
    <app-search #appSearch></app-search>
  </ng-template>

  <ng-template cellHeaderDef="add">
    <app-icon-button name="add" toolTip="Add New" (click)="createNewAttachment()"></app-icon-button>
  </ng-template>