<div class="content-wrapper">
    <app-table [pagination]="pagination" [columns]="columns" [columnsName]="columnsName" [dataSource]="tableData"
        (pageChanged)="pageChanged($event)" columnID="legalApplicationId" (onSelect)="onSelect($event)">
        <ng-template cellHeaderDef="action">
            <app-icon-button name="open" toolTip="Open Selected" (click)="selectAllNavigate()"></app-icon-button>
        </ng-template>
        <ng-template cellDef="action" let-element>
            <app-icon-button name="open" toolTip="Open"
                (click)="navigateToDetail(element.legalApplicationId)"></app-icon-button>
        </ng-template>
        <ng-template cellHeaderDef="dob">
            <div class="header-cell-title">Applicant Name</div>
            <div class="header-cell-subtitle">Applicant CRM No</div>
        </ng-template>
        <ng-template cellDef="dob" let-element>
            <div>{{element.applicantName}}</div>
            <div class="table-cell-subtitle">{{element.applicantCrmNo}}</div>
        </ng-template>
        <ng-template cellHeaderDef="paper">
            <div class="header-cell-title">Applied Branch</div>
            <div class="header-cell-subtitle">Applied Date</div>
        </ng-template>
        <ng-template cellDef="paper" let-element>
            <div>{{element.appliedBranchDescription}}</div>
            <div class="table-cell-subtitle">{{element.appliedDate | appDate}}</div>
        </ng-template>
        <ng-template cellHeaderDef="actionStatusDescription">
            <div class="header-cell-title">Service Type</div>
            <div class="header-cell-subtitle">Action Status</div>
        </ng-template>
        <ng-template cellDef="actionStatusDescription" let-element>
            <div>{{element.serviceTypeDescription}}</div>
            <div class="table-cell-subtitle status-{{element.actionStatusValue}}">{{element.actionStatusDescription}}</div>
        </ng-template>
        <ng-template cellHeaderDef="date">
            <div class="header-cell-title">Application Stage</div>
            <div class="header-cell-subtitle ">Application Status</div>
        </ng-template>

        <ng-template cellDef="date" let-element>
            <div>{{element.applicationStageDescription}}</div>
            <div class="table-cell-subtitle">{{element.statusDescription}}</div>
        </ng-template>
        <ng-template #slotLeft>
            <app-search #appSearch [searchTemplate]=" searchTemplate"  maxHeight="350px"></app-search>
        </ng-template>
        <ng-template #slotRight>
            <form #l="ngForm">
                <div class="d-flex justify-content-end align-items-center">

                    <div class="col-md-12 mt10">
                        <app-input-control type="select" placeholder="Select Lead No" [(ngModel)]="trustLeadId"
                            name="trustLeadId" [items]="initialData.DDLValues.DDLLead" key="id" keyName="code"
                            [errorTrue]="errorTrue" [required]="true" valueType="int"></app-input-control>
                    </div>
                    <div>

                        <app-icon-button name="add" toolTip="Add New" (click)="createNewWillApplication()">
                        </app-icon-button>
                    </div>
                </div>
            </form>
        </ng-template>
    </app-table>
</div>

<ng-template #searchTemplate>
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title">Legal Application Search</div>
            <div class="slot-right">
                <div class="btn-group">
                    <app-icon-button name="search" toolTip="Search" (click)="searchLegalService()"></app-icon-button>
                    <app-icon-button name="clear" toolTip="Clear" (click)="createLegalSearch('clear')"></app-icon-button>
                    <app-icon-button name="close" (click)="dialog.closeAll()"></app-icon-button>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <scroll>
                <div class="dialog-content-inner">
                    <row>
                        <div class="col-md-4"><app-input-control label=" Legal Ref No" type="number"
                                [(ngModel)]="searchParams.legalApplRefNo" name="legalApplRefNo"></app-input-control>
                        </div>
                        <!-- <div class="col-md-4"><app-input-control label="File No" [(ngModel)]="searchParams.file" name=""></app-input-control></div> -->
                        <div class="col-md-4"><app-input-control label="Applicant Name" type="select"
                            defaultOption="All" [items]="initialData.DDLValues.DDLCustomer" key="code"
                            keyName="fullName" [(ngModel)]="searchParams.applicantCrmNo"
                            name="applicantName"></app-input-control></div>
                        <div class="col-md-4"><app-input-control label="Applied Branch" defaultOption="All"
                                [(ngModel)]="searchParams.appliedBranchValue" type="select"
                                [items]="initialData.DDLValues.DDLTrustWithDrawalApplicationStatus" key="constant"
                                keyName="description" name="appliedBranchValue"></app-input-control></div>
                        <div class="col-md-4"><app-input-control label="Service Type" defaultOption="All"
                                [(ngModel)]="searchParams.serviceTypeValue" type="select"
                                [items]="initialData.DDLValues.DDLServiceType" key="constant"
                                keyName="description" name="serviceTypeValue"></app-input-control></div>
                        <div class="col-md-4"><app-input-control label="Applied Date(From)" type="date"
                                [(ngModel)]="searchParams.appliedDateFrom" name="appliedDateFrom"
                                [maxDate]="searchParams.appliedDateTo"></app-input-control>
                        </div>
                        <div class="col-md-4"><app-input-control label="Applied Date(To)" type="date"
                                [(ngModel)]="searchParams.appliedDateTo" [minDate]="searchParams.appliedDateFrom"
                                name="appliedDateTo"></app-input-control>
                        </div>
                        <div class="col-md-4"><app-input-control label="Application Status" type="select"
                                defaultOption="All" [(ngModel)]="searchParams.statusValue" name="statusValue"
                                [items]="initialData.DDLValues.DDLApplicationStatus" key="constant"
                                keyName="description"></app-input-control>
                        </div>
                        <div class="col-md-4"><app-input-control label="Application Stage" type="select"
                                defaultOption="All" [(ngModel)]="searchParams.applicationStageValue"
                                name="applicationStageValue" [items]="initialData.DDLValues.DDLLegalApplicationStage"
                                key="constant" keyName="description"></app-input-control>
                        </div>
                        <div class="col-md-4"><app-input-control label="Action Status" type="select" defaultOption="All"
                                [(ngModel)]="searchParams.actionStatusValue" name="actionStatusValue"
                                [items]="initialData.DDLValues.DDLActionStatus" key="constant"
                                keyName="description"></app-input-control>
                        </div>
                        <!-- <div class="col-md-4"><app-input-control label="Assigned Officer"
                                type="select" defaultOption="All" [(ngModel)]="searchParams.ass" name=""></app-input-control>
                        </div> -->
                    </row>
                </div>
            </scroll>
        </div>

    </div>
</ng-template>

<ng-template #breadCrumb>
    <div class="breadcrumb">
        <ul>
            <li class="screen-name">
                <ion-icon src="assets/icons/legal.svg"></ion-icon>
                <div class="screen-text">Legal & Other Service</div>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #willInfo>
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title"><ion-icon class="dialog-header-icon"
                    src="assets/icons/legal.svg"></ion-icon>
                Legal Service <ion-icon class="arrow-icon" src="assets/icons/arrow.svg"></ion-icon>
                Add New
            </div>
            <div class="slot-right">
                <div class="btn-group">
                    <app-icon-button name="save" toolTip="Save" (click)="saveLegalService()"
                        appButtonAccess="CrmCustAppSaveInfoBtn"></app-icon-button>
                    <app-icon-button name="clear" toolTip="Clear" (click)="clear()"
                        appButtonAccess="CrmCustAppRefreshInfoBtn"></app-icon-button>

                    <app-icon-button name="close" toolTip="Close" appButtonAccess="CrmCustAppCancelBtn"
                        (click)="dialog.closeDialog()"></app-icon-button>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <div class="dialog-content-inner h100">
                <row class="row-h100">
                    <scroll>
                        @if(data.showErrorMessage){
                        <div class="error-panel">
                            <app-error-message></app-error-message>
                        </div>
                        }
                        <form #x="ngForm" class="dialog-content-inner">
                            <row>

                                <div class="col-md-4"><app-input-control label="Type" type="select"
                                        [(ngModel)]="legalService.serviceTypeValue" name="withdrawalTypeValue"
                                        [items]="initialData.DDLValues.DDLServiceType" key="constant"
                                        keyName="description" defaultOption="--Select--" [errorTrue]="errorTrue"
                                        [required]="true"></app-input-control>
                                </div>
                             <div class="col-md-4 pb20"><view-label label="Stage"
                                        value="{{legalService.applicationStageDescription}}"></view-label></div>
                                <div class="col-md-4 pb20">
                                    <view-label label="Action Status"
                                        value="{{legalService.actionStatusDescription}}"></view-label>
                                </div>
                                <div class="col-md-12 mb26"></div>
                                <div class="col-md-4 pb20"><view-label label="Application Status"
                                        value="{{legalService.statusDescription}}"></view-label>
                                </div>
                                <div class="col-md-4 pb20"><view-label label="Applied Date"
                                        value="{{legalService.appliedDate | appDate}}"></view-label>
                                </div>
                                <div class="col-md-4"><view-label label="Applied Branch"
                                        value="{{legalService.appliedBranchDescription}}"></view-label></div>

                            </row>
                        </form>

                    </scroll>
                </row>
            </div>
        </div>
    </div>
</ng-template>