<accordion-item [isOpen]="true">
    <accordion-header>
        <div class="accordion-header-content">
            <div class="accordion-title">
                <ion-icon src="assets/icons/accordian/receipt-fund.svg"></ion-icon>
                <div class="accordion-title-content">
                    <div>Arrange Payments</div>
                </div>
            </div>
        </div>
    </accordion-header>
    <accordion-body>
        <row>
            <div class="col-md-4 ">
                <div class="box" style="padding: 8px 16px;">
                    <div class="mb20"></div>
                    <div class="col-md-12">
                        <app-input-control type="select" label="Document Type" [(ngModel)]="docNameType"
                            [items]="documentArray" key="code" defaultOption="--Select--"
                            (onSelect)="documentTypeDatas(docNameType)" name="documentTypeValue"
                            [btnClicked]="this.type.isEditable === 'N'" keyName="fullName"></app-input-control>
                    </div>
                    <app-drop-zone type="1" [fileType]="fileExtension" [accept]="accept" [multiple]="false"
                        [btnClicked]="this.type.isEditable === 'N'"
                        (onUpload)="uploadClientDocumentAttachment($event)"></app-drop-zone>
                </div>
                <div class="mb26"></div>

            </div>
            <div class="col-md-8">
                <div class="outer-content-wrapper">
                    <div class="content-wrapper">
                        <div>
                            <!-- @if (loading) { -->
                            <app-table [columns]="clientDocumentColumns" [columnsName]="clientDocumentColumnsName"
                                [hideSelectAll]="true"
                                [dataSource]="application.lstentTrustApplicationDocument | estateApplication: this.type.trustApplicationStageValue: this.type.trustApplicationIdenityNo"
                                [showPaginator]="false" columnID="trustApplicationDocumentId">
                                <ng-template cellHeaderDef="fileName">
                                    <div class="w200px">
                                        File Name
                                    </div>
                                </ng-template>
                                <ng-template cellDef="fileName" let-element>
                                    <div class="overflow-wrap">
                                        {{element.ientFile.fileName}}
                                    </div>
                                </ng-template>
                                <ng-template cellHeaderDef="documentTypeDescription">
                                    <div class="w200px">Document Name</div>
                                </ng-template>
                                <ng-template cellDef="fileExtension" let-element>
                                    {{element.ientFile.fileExtension}}
                                </ng-template>
                                <ng-template cellDef="fileSize" let-element>
                                    {{element.ientFile.fileSize | fileSize}}mb
                                </ng-template>
                                <ng-template cellHeaderDef="action">
                                    <div class="text-center">
                                        Action
                                    </div>
                                </ng-template>
                                <ng-template cellDef="action" let-element>
                                    @if(element.ientFile.fileName!==''){

                                    <div class="d-flex align-items-center">
                                        <app-icon-button name="doc-download" (click)="downloadFile(element)">

                                        </app-icon-button>
                                        @if(this.type.isEditable === 'Y'){

                                        <app-icon-button name="doc-delete" (click)="checkDocumentDelete(element)" />
                                        }


                                        <app-icon-button name="doc-view" (click)="viewFile(element)">

                                        </app-icon-button>
                                    </div>
                                    }
                                </ng-template>
                            </app-table>
                            <!-- } -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 mb20">
                <app-input-control label="Notes" type="textarea" [maxLength]="250"
                    className="notes"></app-input-control>
            </div>
        </row>
        <div class="col-md-12 end">
            <button class="approve-btn">
                Payment Arranged
            </button>
        </div>
    </accordion-body>
</accordion-item>