.header-w {
    width: 275px;
}

.p-2 {
    padding: 5px;
}

tbody {
    background: #fff;
}

.pb-5 {
    padding-bottom: 20px;
}

.border-rad {
    border-radius: 5px;
}

.p-3 {
    padding: 10px 10px;
}

.p-0 {
    padding: 0px;
}

.px-2 {
    padding: 0px 5px;
}

.pt-2 {
    padding-top: 5px;
}

.cus-table {
    th {
        width: 250px;
    }



    .account-table .app-table-cell {
        padding: 12px;
        background: #fff;
        border-bottom: 1px solid #d8d8d8;
    }

}

.account-table .app-table-head {
    position: sticky;
    top: 0%;
    z-index: 1;
}

.mh90 {
    height: 95%;
    // height: auto;
}

.mh50 {
    height: 50%;
}

.mh45 {
    height: 45%;
}

.border-bottom {
    border-bottom: 1px solid #d8d8d8;
    margin: 0;
}