<div class="content-wrapper" appAccess="ITCSC" [parentId]="pageId">
  <app-table
    [pagination]="pagination"
    [columns]="columns"
    [columnsName]="columnsName"
    [sortColumnsName]="sortColumnName"
    [dataSource]="tableData"
    (pageChanged)="pageChanged($event)"
    columnID="customerId"
    (onSelect)="onSelect($event)"
    [hideSelectAll]="true"
  >
    <ng-template #slotRight>
      <app-icon-button
        name="add"
        toolTip="Add New"
        (click)="createCategory(0)"
      ></app-icon-button>
    </ng-template>

    <ng-template cellHeaderDef="categoryCode">
      <div>Category Code</div>
    </ng-template>
    <ng-template cellDef="categoryCode" let-element>
      <div>{{ element.categoryCode }}</div>
    </ng-template>

    <ng-template cellHeaderDef="categoryName">
      <div class="header-cell-title">Category Name</div>
    </ng-template>
    <ng-template cellDef="categoryName" let-element>
      <div>{{ element.categoryName }}</div>
    </ng-template>

    <ng-template cellHeaderDef="effectiveDate">
      <div class="header-cell-title">Created Date</div>
    </ng-template>
    <ng-template cellDef="effectiveDate" let-element>
      <div>{{ element.effectiveDate | appDate }}</div>
    </ng-template>

    <ng-template cellHeaderDef="shortDescription">
      <div class="header-cell-title">Short Description</div>
    </ng-template>
    <ng-template cellDef="shortDescription" let-element>
      <div>{{ element.shortDescription }}</div>
    </ng-template>

    <ng-template cellHeaderDef="status">
      <div class="header-cell-title">Status</div>
    </ng-template>
    <ng-template cellDef="status" let-element>
      <accouts-status-table
        [statusDescription]="element.status"
      ></accouts-status-table>
    </ng-template>
    <ng-template cellHeaderDef="action">
      <div class="header-cell-title">Action</div>
    </ng-template>

    <ng-template cellDef="action" let-element>
      <app-icon-button
        name="open"
        toolTip="Open"
        (click)="createCategory(element.invCategoryId)"
      ></app-icon-button>
    </ng-template>

    <ng-template #slotLeft>
      <app-search
        maxHeight="250px"
        #appSearch
        [searchTemplate]="searchTemplate"
      ></app-search>
    </ng-template>
    <ng-template #slotMiddle>
      <div class="d-flex">
        <div (click)="statusSortSearch('ACTIV')">
          <table-status-sort
            type="activeCount"
            [activeCount1]="totalActiveCount"
          ></table-status-sort>
        </div>
        <div (click)="statusSortSearch('INACT')">
          <table-status-sort
            type="inactiveCount"
            [inActiveCount1]="totalInactiveCount"
          ></table-status-sort>
        </div>
      </div>
    </ng-template>
  </app-table>
</div>

<ng-template #searchTemplate>
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-title">Category Search</div>
      <div class="slot-right">
        <div class="btn-group">
          <app-icon-button
            name="search"
            toolTip="Search"
            appButtonAccess="CrmCustLeaAppSearchBtn"
            (click)="onSearch()"
          ></app-icon-button>
          <app-icon-button
            name="clear"
            toolTip="Clear"
            appButtonAccess="CLEBT"
            (click)="clearAllSearch()"
          ></app-icon-button>
          <app-icon-button
            name="close"
            (click)="dialog.closeDialog()"
          ></app-icon-button>
        </div>
      </div>
    </div>
    <div class="dialog-content">
      <scroll>
        <div class="dialog-content-inner">
          <form #l="ngForm">
            <row>
              <div class="col-md-3">
                <app-input-control
                  type="text"
                  label="Category Name"
                  placeholder="Enter Category Name"
                  [(ngModel)]="searchParams.stCategoryName"
                  name="stCategoryName"
                ></app-input-control>
              </div>
              <div class="col-md-3">
                <app-input-control
                  type="text"
                  label="Category Code"
                  placeholder="Enter Category Code"
                  [(ngModel)]="searchParams.strCategoryCode"
                  name="strCategoryCode"
                ></app-input-control>
              </div>
              <div class="col-md-3">
                <app-input-control
                  type="date"
                  label="Created Date (From)"
                  placeholder="From Date"
                  [(ngModel)]="searchParams.dtmEffectiveDateFrom"
                  name="dtmEffectiveDateFrom"
                  [maxDate]="searchParams.dtmEffectiveDateTo"
                ></app-input-control>
              </div>
              <div class="col-md-3">
                <app-input-control
                  type="date"
                  label="Created Date (To)"
                  placeholder="To Date"
                  [(ngModel)]="searchParams.dtmEffectiveDateTo"
                  name="dtmEffectiveDateTo"
                  [minDate]="searchParams.dtmEffectiveDateFrom"
                ></app-input-control>
              </div>
              <div class="col-md-3">
                <app-input-control
                  type="select"
                  label="Status"
                  defaultOption="--Select--"
                  [(ngModel)]="searchParams.strStatusValue"
                  name="strStatusValue"
                  [items]="initialData.DDLValues.configGroupStatus"
                  key="constant"
                  keyName="description"
                ></app-input-control>
              </div>
            </row>
          </form>
        </div>
      </scroll>
    </div>
  </div>
</ng-template>
<ng-template #breadCrumb>
  <div class="breadcrumb">
    <ul>
      <li class="screen-name link">
        <ion-icon src="assets/icons/inventory.svg"></ion-icon>
        <div class="screen-text" (click)="navigateToInventory()">Inventory</div>
      </li>
      <li class="screen-name">
        <div class="screen-text">Category</div>
      </li>
    </ul>
  </div>
</ng-template>
