<div class="v-flex h100" appAccess="ASCAS" [parentId]="pageId">
  <div class="content-header">
    <div class="card-box border-right w100">
      <div class="card-content">
        <label>Branch Name</label>
        <div class="content">
          {{ branchName ? branchName : "-" }}
        </div>
      </div>
    </div>
    <div class="card-box border-right">
      <div class="card-content">
        <label>Counter Name</label>
        <div class="content">
          {{ cashCounter.cashCounterName ? cashCounter.cashCounterName : "-" }}
        </div>
      </div>
    </div>
    <div class="card-box border-right">
      <div class="card-content">
        <label>Counter No</label>
        <div class="content">
          {{ cashCounter.cashCounterNo ? cashCounter.cashCounterNo : "-" }}
        </div>
      </div>
    </div>
    <div class="card-box border-right">
      <div class="card-content">
        <label>Counter Code</label>
        <div class="content">
          {{ cashCounter.cashCounterCode ? cashCounter.cashCounterCode : "-" }}
        </div>
      </div>
    </div>
    <div class="status-header-box">
      <div class="card-box-1">
        <div class="card-content">
          <label>Counter Status</label>
          <div class="content status-{{ cashCounter.statusValue }}">
            {{ cashCounter.statusDescription }}
          </div>
        </div>
        @if(cashCounter.cashCounterId === 0){
        <div class="card-content btn-group">
          <app-icon-button
            name="save"
            toolTip="Save"
            appButtonAccess="AssignedCashierDetailSaveBtn"
            (click)="saveAssignedCasier()"
          ></app-icon-button>
          <app-icon-button
            name="clear"
            toolTip="Clear"
            appButtonAccess="AssignedCashierDetailClearBtn"
            (click)="doClear()"
          ></app-icon-button>
        </div>
        }@else { @if(selectedTab === 0){ 
          @if(this.cashCounter.statusValue !==
        'APRVD' && this.cashCounter.statusValue !== 'CANCL' && selectedTab ===
        0){
        <div class="card-content btn-group">
          <app-icon-button
            name="open"
            toolTip="Open"
            (click)="viewCashier()"
            appButtonAccess="AssignedCashierDetailViewBtn"
          ></app-icon-button>
        </div>
        } } }
      </div>
      <div>
        <a mat-icon-button class="more-btn" [matMenuTriggerFor]="triggerMenu">
          <ion-icon name="ellipsis-vertical" class="icon-black"></ion-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="content-body flex-1">
    @if(selectedTab === 0){
    <div class="pt-1 h100">
      <div class="col-md-12 h100 d-flex">
        <div class="col-md-7 h100 border-right">
          <div class="v-flex h100">
            <div class="d-flex pb-5 pt-5">
              <div class="fw-600">Assigned Cashier List</div>
              <div class="ml-auto">
                <app-icon-button
                  name="add"
                  toolTip="Add"
                  (click)="addAssignedCashier()"
                  [hidden]="hideBtnBasedonStatus()"
                  appButtonAccess="AssignedCashierDetailAddBtn"
                ></app-icon-button>
              </div>
            </div>

            <div class="flex-1 relative pb-5">
              <scroll>
                <div
                  class="pb-5"
                  *ngFor="
                    let element of cashCounter.ilstCashCounterAssignedCashier
                  "
                >
                  <div
                    class="col-md-12 card"
                    [ngStyle]="{
                      'background-color':
                        element.cashCounterAssignedCashierId === assignedCashier
                          ? '#D6F2FB'
                          : ''
                    }"
                    (click)="
                      openAssignedCashierDetail(
                        element.cashCounterAssignedCashierId
                      )
                    "
                  >
                    <div class="col-md-12 d-flex">
                      <table class="w100">
                        <tr class="">
                          <td class="col-md-6 w50">Name</td>
                          <td class="col-md-6 w50">Start Date</td>
                        </tr>
                        <tr>
                          <td class="col-md-6 w50 fw-600">
                            {{
                              element.cashierName ? element.cashierName : "-"
                            }}
                          </td>
                          <td class="col-md-6 w50 fw-600">
                            {{
                              element.startDate
                                ? (element.startDate | appDate)
                                : "-"
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td class="col-md-6 w50">End Date</td>
                          <td class="col-md-6 w50">Status</td>
                        </tr>
                        <tr>
                          <td class="col-md-6 w50 fw-600">
                            {{
                              element.endDate
                                ? (element.endDate | appDate)
                                : "-"
                            }}
                          </td>
                          <td class="col-md-6 w50 fw-600">
                            {{ element.statusDescription }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </scroll>
            </div>
          </div>
        </div>
        <div class="col-md-5 h100">
          <div class="d-flex pt-5" *ngIf="selectedSubTab === 0">
            <div class="fw-600">Assigned Cashier Detail</div>

            <div class="ml-auto d-flex gap-10">
              @if(cashCounter.ilstCashCounterAssignedCashier.length !== 0) {
              @if(edit) {
              <app-icon-button
                name="edit"
                toolTip="Edit"
                (click)="doEdit()"
                [hidden]="hideBtnBasedonStatus()"
                appButtonAccess="AssignedCashierDetailEditBtn"
              ></app-icon-button>
              } } @if (edit == false) {
              <ng-container>
                <ng-container
                  *ngIf="
                    assignCashCounterdetail.cashCounterAssignedCashierId !== 0
                  "
                >
                  <app-icon-button
                    name="save"
                    toolTip="Update"
                    (click)="saveAssignedCasier()"
                    [hidden]="hideBtnBasedonStatus()"
                    appButtonAccess="AssignedCashierDetailUpdateBtn"
                  ></app-icon-button>

                  <app-icon-button
                    name="refresh"
                    toolTip="Refresh"
                    (click)="refereseAssignedCasier()"
                    ><ion-icon
                      name="repeat-outline"
                      [hidden]="hideBtnBasedonStatus()"
                    ></ion-icon
                  ></app-icon-button>
                </ng-container>
                <ng-container
                  *ngIf="
                    assignCashCounterdetail.cashCounterAssignedCashierId === 0
                  "
                >
                  <app-icon-button
                    name="save"
                    toolTip="Save"
                    (click)="saveAssignedCasier()"
                    [hidden]="hideBtnBasedonStatus()"
                    appButtonAccess="AssignedCashierDetailSaveBtn"
                  ></app-icon-button>
                  @if(assignCashCounterdetail.cashCounterAssignedCashierId===0){

                    <app-icon-button
                      name="clear"
                      toolTip="Clear"
                      appButtonAccess="AssignedCashierDetailClearBtn"
                      (click)="doClear()"
                      [hidden]="hideBtnBasedonStatus()"
                    ></app-icon-button>
                  }
                  @else {

                    <app-icon-button
                      name="refresh"
                      toolTip="Refresh"
                      (click)="refereseAssignedCasier()"
                      ><ion-icon
                        name="repeat-outline"
                        [hidden]="hideBtnBasedonStatus()"
                      ></ion-icon
                    ></app-icon-button>
                  }
                </ng-container>
              </ng-container>
              }
            </div>
          </div>
          <div class="d-flex history pt-5" *ngIf="selectedSubTab === 1">
            <div class="fw-600">Assigned Cashier History List</div>
          </div>
          @if(selectedSubTab === 0){
          <form #l="ngForm" autocomplete="off" class="cashier-detail">
            <div class="v-flex h100 pt-5">
              <div class="col-md-12 h100 card pt-5">
                <!-- <scroll> -->
                <div class="flex-1 h100 relative">
                  <div class="ab">
                    <div class="rel h100">
                      <div class="col-md-12">
                        <app-input-control
                          type="select"
                          label=" Assigned Cashier Name"
                          name="assignedUserId"
                          [(ngModel)]="assignCashCounterdetail.assignedUserId"
                          [items]="initialData.DDLValues.AllDDLBranchCashier"
                          key="id"
                          keyName="name"
                          [required]="true"
                          valueType="int"
                          [errorTrue]="errorTrue"
                          defaultOption="--Select--"
                          (onSelect)="
                            cashierNameSet(
                              assignCashCounterdetail.assignedUserId
                            )
                          "
                          [btnClicked]="edit"
                        ></app-input-control>
                      </div>
                      <div class="col-md-12">
                        <ng-container
                          *ngIf="assignCashCounterdetail.endDate === ''"
                        >
                          <app-input-control
                            type="date"
                            label=" Start Date"
                            name="startDate"
                            [(ngModel)]="assignCashCounterdetail.startDate"
                            [minDate]="cashCounter.effectiveDate"
                            [errorTrue]="errorTrue"
                            [required]="true"
                            [btnClicked]="edit"
                          ></app-input-control>
                        </ng-container>
                      </div>
                      <div class="col-md-12">
                        <ng-container
                          *ngIf="assignCashCounterdetail.endDate !== ''"
                        >
                          <app-input-control
                            type="date"
                            label=" Start Date"
                            name="startDate"
                            [(ngModel)]="assignCashCounterdetail.startDate"
                            [maxDate]="assignCashCounterdetail.endDate"
                            [minDate]="cashCounter.effectiveDate"
                            [errorTrue]="errorTrue"
                            [required]="true"
                            [btnClicked]="edit"
                          ></app-input-control>
                        </ng-container>
                      </div>
                      <div class="col-md-12">
                        <app-input-control
                          type="date"
                          label=" End Date"
                          name="endDate"
                          [(ngModel)]="assignCashCounterdetail.endDate"
                          [minDate]="assignCashCounterdetail.startDate"
                          [btnClicked]="edit"
                        ></app-input-control>
                      </div>
                      <div class="col-md-12">
                        <app-input-control
                          type="select"
                          label=" Status"
                          name="statusValue"
                          [(ngModel)]="assignCashCounterdetail.statusValue"
                          defaultOption="--Select--"
                          [items]="initialData.DDLValues.Status"
                          key="constant"
                          keyName="description"
                          [errorTrue]="errorTrue"
                          [required]="true"
                          [btnClicked]="edit"
                        ></app-input-control>
                      </div>
                      <div class="col-md-12">
                        <app-input-control
                          type="textarea"
                          className="notes"
                          label="Add Notes"
                          [(ngModel)]="assignCashCounterdetail.notes"
                          name="notes"
                          [errorTrue]="errorTrue"
                          [required]="true"
                          [maxLength]="500"
                          [btnClicked]="edit"
                        ></app-input-control>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          } @else if(selectedSubTab === 1){
          <div class="v-flex mh100 pt-2">
            <div class="flex-1 relative">
              <div class="ab">
                <div class="rel">
                  <div class="table-responsive">
                    <table class="app-table account-table">
                      <thead class="app-table-head">
                        <tr class="app-table-header-row">
                          <th class="app-table-header-cell">
                            <div class="header-cell-title">Status</div>
                          </th>
                          <th class="app-table-header-cell">Changed By</th>
                          <th class="app-table-header-cell text-center">
                            Changed Date & Time
                          </th>
                        </tr>
                      </thead>
                      <tbody class="app-table-body">
                        @for (history of
                        assignCashCounterdetail.lstentCashCounterAssignedCashierHistory;
                        track history; let i = $index) {
                        <tr class="app-table-row">
                          <td class="app-table-cell">
                            {{ history.statusDescription }}
                          </td>
                          <td class="app-table-cell">
                            {{ history.changedByFullName }}
                          </td>
                          <td class="app-table-cell text-center">
                            {{ history.changedDate | appDate : "datetime" }}
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }

          <div class="footer-tab">
            <div class="d-flex">
              <div
                class="tabs tab-bg"
                (click)="onSelectSubTab(0)"
                [ngClass]="{ tabSubClass: selectedSubTab === 0 }"
              >
                <div>Assigned Cashier</div>
              </div>

              @if(assignCashCounterdetail.cashCounterAssignedCashierId > 0){
              <div
                class="tabs tab-bg"
                (click)="onSelectSubTab(1)"
                [ngClass]="{ tabSubClass: selectedSubTab === 1 }"
              >
                <div>Assigned History</div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>

  <div
    class="card-footer"
    footerpanel="footerpanel{{ pageId }}"
    trigger="trigger{{ pageId }}"
  >
    <div class="footer-tab">
      <div class="d-flex">
        <div
          class="tabs"
          (click)="onSelectTab(0)"
          [ngClass]="{ tabClass: selectedTab === 0 }"
        >
          <div>Assigned Cashier</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #breadCrumb>
  <div class="breadcrumb">
    <ul>
      <li class="screen-name link">
        <div class="back-btn">
          <ion-icon
            (click)="navigateToList()"
            src="assets/icons/back.svg"
          ></ion-icon>
        </div>
        <ion-icon src="assets/icons/finance.svg"></ion-icon>
        <div class="screen-text" (click)="navigateToTrust()">Trust</div>
      </li>
      <li class="screen-name link">
        <div class="screen-text" (click)="navigateToList()">
          Assigned Cashier
        </div>
      </li>
      <li class="screen-name">
        <div class="screen-text">Detail</div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #attachmentDialog>
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-title">
        <ion-icon class="fos-20" src="assets/icons/finance.svg"></ion-icon>
        Fund Transfer Note > Detail > Add Documents
      </div>
      <div class="slot-right">
        <div class="btn-group">
          <app-icon-button
            name="close"
            toolTip="Close"
            (click)="dialog.closeDialog()"
          ></app-icon-button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<mat-menu xPosition="before" class="status-trigger-menu" #triggerMenu="matMenu">
  <table class="status-table w100">
    <thead class="status-header">
      <tr>
        <th class="status-header-cell">Changed By | Changed Date</th>
        <th class="status-header-cell">Status</th>
      </tr>
    </thead>
    <tbody class="hover_none">
      @for (status of cashCounter.plstCashCounterStatusHistory; track $index) {
      <tr class="status-body-row">
        <td class="status-body-cell">
          <div class="status_by">
            {{ status.changedByUserName ? status.changedByUserName : "-" }}
          </div>
          <div class="sub-status_by">
            {{ status.changedDate | appDate }}
            {{ status.changedDate | appDate : "hh:mm a" }}
          </div>
        </td>
        <td class="status-body-cell">
          <div class="status_by">
            {{ status.statusDescription }}
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</mat-menu>

<app-documents #DocumentsComponent class="none"></app-documents>
<ng-template #assignedCashierEditDialog>
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-title">
        <ion-icon class="fos-20" src="assets/icons/finance.svg"></ion-icon>
        Assigned Cashier > Detail > Edit
      </div>
      <div class="slot-right">
        <div class="btn-group">
          <app-icon-button
            name="save"
            appButtonAccess="AssignedCashierDetailSaveBtn"
            toolTip="Save"
          ></app-icon-button>
          <app-icon-button
            name="clear"
            appButtonAccess="AssignedCashierDetailClearBtn"
            toolTip="Clear"
          ></app-icon-button>

          <app-icon-button
            name="close"
            toolTip="Close"
            (click)="dialog.closeDialog()"
          ></app-icon-button>
        </div>
      </div>
    </div>
    <div class="dialog-content">
      <div class="dialog-content-inner">
        <form #x="ngForm">
          <row>
            <div class="col-md-12">
              <app-input-control
                type="text"
                label="Counter No"
              ></app-input-control>
            </div>
            <div class="col-md-12">
              <app-input-control
                type="select"
                label="Branch"
                defaultOption="--Select--"
                valueType="string"
              ></app-input-control>
            </div>
            <div class="col-md-12">
              <app-input-control
                type="text"
                label="Counter Name"
              ></app-input-control>
            </div>
            <div class="col-md-12">
              <app-input-control
                type="text"
                label="Counter Code"
              ></app-input-control>
            </div>
            <div class="col-md-12">
              <app-input-control type="text" label="Status"></app-input-control>
            </div>
          </row>
        </form>
      </div>
    </div>
  </div>
</ng-template>
