<div class="justify-end">
    <!-- <row>
            <div class="all-record">
                All Record
            </div>
    </row> -->
    <row>
        @if(processingCount !=='') {
        <div class="col-md-6">
            <div class="d-flex  pending-sort align-items-center status-sort gap-5">
                <div class="d-flex fos-16 ">
                    <div class="ellipse"></div>
                    <div class="fos-22 pending">{{processingCount}}</div>
                </div>
                @if(processingTitle ===''){
                <div class="status">Processing Document</div>
                }
                @else {
                <div class="status">
                    {{processingTitle}}
                </div>
                }
            </div>
        </div>
        }
        @if(approvedCount !==''){
        <div class="col-md-6 ">
            <div class="d-flex active-sort align-items-center status-sort gap-5">
                <div class="d-flex fos-16 ">
                    <div class="ellipse-active"></div>
                    <div class="fos-22 active">{{approvedCount}}</div>
                </div>
                @if(approvedTitle===''){
                <div class="status">Approved Document</div>
                }
                @else{
                <div class="status">{{approvedTitle}}</div>
                }
            </div>
        </div>
        }
        @if(activeCount !==''){
        <div class="col-md-6 ">
            <div class="d-flex active-sort align-items-center status-sort gap-5">
                <div class="d-flex fos-16 ">
                    <div class="ellipse-active"></div>
                    <div class="fos-22 active">{{activeCount}} <span>
                            Active
                        </span>
                    </div>
                </div>
            </div>
        </div>
        }
        @if(inActiveCount !==''){
        <div class="col-md-6 ">
            <div class="d-flex inactive-sort align-items-center status-sort gap-5">
                <div class="d-flex fos-16 ">
                    <div class="ellipse-inactive"></div>
                    <div class="fos-22 inactive">{{inActiveCount}} <span>
                            In Active
                        </span>
                    </div>
                </div>
            </div>
        </div>
        }
    </row>
    @if(type === 'processing'){
    <div>
        <div class="d-flex  pending-sort align-items-center status-sort gap-5">
            <div class="d-flex fos-16 ">
                <div class="ellipse"></div>
                <div class="fos-22 pending">{{processingCount1}}</div>
            </div>
            @if(processingTitle ===''){
            <div class="status">Processing Document</div>
            }
            @else {
            <div class="status">
                {{processingTitle}}
            </div>
            }
        </div>
    </div>
    }
    @if(type ==='approving'){
    <div>
        <div class="d-flex active-sort align-items-center status-sort gap-5">
            <div class="d-flex fos-16 ">
                <div class="ellipse-active"></div>
                <div class="fos-22 active">{{approvedCount1}}</div>
            </div>
            @if(approvedTitle===''){
            <div class="status">Approved Document</div>
            }
            @else{
            <div class="status">{{approvedTitle}}</div>
            }
        </div>
    </div>
    }
    @if(type ==='activeCount'){
    <div>
        <div class="d-flex active-sort align-items-center status-sort gap-5">
            <div class="d-flex fos-16 ">
                <div class="ellipse-active"></div>
                <div class="fos-22 active">{{activeCount1}} <span>
                        Active
                    </span>
                </div>
            </div>
        </div>
    </div>
    }
    @if(type=== 'inactiveCount'){
    <div>
        <div class="d-flex inactive-sort align-items-center status-sort gap-5">
            <div class="d-flex fos-16 ">
                <div class="ellipse-inactive"></div>
                <div class="fos-22 inactive">{{inActiveCount1}} <span>
                        In Active
                    </span>
                </div>
            </div>
        </div>
    </div>
    }
</div>
