<accordion-item [isOpen]="true">
    <accordion-header>
        <div class="accordion-header-content">
            <div class="accordion-title">
                <ion-icon src="assets/icons/accordian/open-file.svg"></ion-icon>
                <div class="accordion-title-content">
                    <div>Open File</div>
                </div>
            </div>
        </div>
    </accordion-header>
    <accordion-body>
        <row>
            <div class="col-md-9">
                <row>
                    <div class="col-md-4"> <view-label label="Assigned Officer" value="Estate Officer"></view-label>
                    </div>
                    <div class="col-md-4"> <view-label label="Assigned Date" value="16 Jul 2024"></view-label>
                    </div>
                    <div class="col-md-4"> <view-label label="TAT" value=" 5 Days"></view-label>
                    </div>
                </row>
            </div>
            <div class="col-md-3">
                <div class="d-flex">
                    <!-- @if(this.application.assignedOfficerFlag === 'True'){
                    @if(this.application.reAssignFlag === 'True'){ -->
                    <form #p="ngForm" class="col-md-10 w250">
                        <app-input-control type="select" key="constant" keyName="description" placeholder="Officer"
                            [items]="assignedOfficerDDL" defaultOption="--Select--"
                            [(ngModel)]="estateApplicationAssignedOfficer.assignedTo"
                            name="assignedTo"></app-input-control>
                    </form>
                    <div class="col-md-2"><app-icon-button name="reassign" (click)="reAssignTrust()"
                            toolTip="Reassign"></app-icon-button></div>
                    <!-- } -->
                    @if(this.application.selfAssignFlag ===' True'){
                    <div class="col-md-2"><app-icon-button name="add" (click)="selfAssignTrust()"
                            toolTip="Self Assign"></app-icon-button></div>
                    }
                    <!-- } -->
                </div>
            </div>
        </row>
        <div class="mb20"></div>
        <row>
            <div class="col-md-3">
                <app-input-control type="text" label="Folder Name" [(ngModel)]="application.folderName"
                    name="folderName" />
            </div>
            <div class="col-md-3 pl15">
                <app-input-control type="text" label="File Number" [(ngModel)]="application.fileNo" name="fileNo" />
            </div>
        </row>
        <form #notiForm="ngForm">
            <row>
                <div class="col-md-12">
                    <app-input-control type="textarea" className="notes" [errorTrue]="errorTrue" [maxLength]="250"
                        [required]="true" label="Notes" [(ngModel)]="estateApplicationNotes.notes"
                        name="notes"></app-input-control>
                </div>
                <div class="col-md-12 mb26 gap-10 end">
                    <app-icon-button name="save" toolTip="Save" (click)="saveEstateApplication()"></app-icon-button>
                    <!-- @if(estateApplicationNotes.isUpdateButtonShow ==='Y'){
                        <app-icon-button name="save" toolTip="Update" (click)="saveTrustApplication()"></app-icon-button>
                        <app-icon-button name="refresh" toolTip="Refresh" (click)=" refeshData()"></app-icon-button>
                        }
                        @else {
    
                        <app-icon-button name="clear" toolTip="Clear" (click)="clearCourtOrderNotes()"></app-icon-button>
                        } -->
                </div>
                <div class=""></div>
            </row>
        </form>






        <div class="col-md-12 end">
            <div class="col-md-12 end">
                <!-- @if(this.type.isEditable === 'Y'){ -->
                <button type="submit" class="approve-btn">File Opened</button>
                <!-- } -->
            </div>
        </div>


    </accordion-body>
</accordion-item>