.accordian-content {
    padding: 5px 20px;
}


.mt15 {
    margin-top: 15px;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap-10 {
    gap: 10px
}

.m10 {
    margin: 10px 6px;
}

.pl30 {
    padding-left: 30px;
}




.h44 {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}