.cancel {
  font-weight: 600;
  color: #c7860c;
}

.pendingVerification {
  font-weight: 600;
  color: #ff77b7;
}

.active-1 {
  font-weight: 600;
  color: #367e18;
  background: none !important;
}

.inpro {
  font-weight: 600;
   color: #f9a85e !important;
}

.inactive {
  font-weight: 600;
  color: red;
}

.pendap {
  font-weight: 600;
  color: #6d0cc7;
}
