<div class="content-wrapper">
  <app-multi-page-url [id]="id" url="/home/estate/death-notice-detail"></app-multi-page-url>
  <div class="sticky-card p15">
    <row>
      <div class="col-md-3 mb15">
        <view-label label="Name" value="{{ deathNoticeData.ientCustomer.firstName }} {{
            deathNoticeData.ientCustomer.middleName
          }} {{ deathNoticeData.ientCustomer.lastName }}"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Paper" [value]="deathNoticeData.paperDescription"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Will Ref No" [value]="deathNoticeData.willRefNo"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Cause Of Death" [value]="deathNoticeData.causeOfDeath"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Date Of Death" [value]="deathNoticeData.dateOfDeath | appDate"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Notice Date" [value]="deathNoticeData.noticeDate | appDate"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Assigned Officer" [value]="deathNoticeData.assignedOfficer"></view-label>
      </div>
      <div class="col-md-3 mb15">
        <view-label label="Status" [value]="deathNoticeData.statusDescription"></view-label>
      </div>
    </row>
  </div>
  <app-tab-group>
    <app-tab tabTitle="Application">
      <div class="card pt16">
        <row>
          <div class="col-md-6">
            <div class="d-flex align-items-center address-header mb26">
              <ion-icon src="assets/icons/customer_info.svg"></ion-icon>
              <view-label value="General Information" class="pl10"></view-label>
            </div>
            <div class="d-flex">
              <div class="col-md-6">
                <div class="mb20">
                  <view-label label="Name" value="{{ deathNoticeData.ientCustomer.firstName }} {{
                      deathNoticeData.ientCustomer.middleName
                    }} {{ deathNoticeData.ientCustomer.lastName }}"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Date Of Birth" value="{{
                      deathNoticeData.ientCustomer.dateOfBirth | appDate
                    }}"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Date of Death" [value]="deathNoticeData.dateOfDeath | appDate"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Gender" value="{{ deathNoticeData.ientCustomer.genderDescription }}"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Occupation" value="{{ deathNoticeData.ientCustomer.occupation }}"></view-label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb20">
                  <view-label label="Death Notice Ref No" [value]="deathNoticeData.deathNoticeRefNo"></view-label>
                </div>

                <div class="mb20">
                  <view-label label="Cause of Death" [value]="deathNoticeData.causeOfDeath"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Notice Date" [value]="deathNoticeData.noticeDate | appDate"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Paper " [value]="deathNoticeData.paperDescription"></view-label>
                </div>
                <div class="mb20">
                  <view-label label="Branch  " [value]="deathNoticeData.branchDescription"></view-label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="d-flex align-items-center address-header mb26">
              <ion-icon name="person-outline"></ion-icon>
              <view-label value="Communication" class="pl10"></view-label>
            </div>
            <div class="mb20 pl10">
              <view-label label="Home Contact" value="{{ deathNoticeData.ientCustomer.contactNo }}"></view-label>
            </div>
            <div class="mb20 pl10">
              <view-label label="Office Contact"
                value="{{ deathNoticeData.ientCustomer.alternateContactNo }}"></view-label>
            </div>
            <div class="mb20 pl10">
              <view-label label="Email" value="{{ deathNoticeData.ientCustomer.emailId }}"></view-label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="v-flex h100 justify-content-between">
              <div class=" ">
                <div class="d-flex align-items-center address-header mb26">
                  <ion-icon src="assets/icons/location.svg"></ion-icon>
                  <view-label value=" Address" class="pl10"></view-label>
                </div>
                <div class="pl10">
                  <view-label value="{{
                      deathNoticeData.ientCustomer.iPermanentaddress.line1
                    }} {{
                      deathNoticeData.ientCustomer.iPermanentaddress.line2
                    }} {{
                      deathNoticeData.ientCustomer.iPermanentaddress.line3
                    }}"></view-label>
                </div>
                <div class="pl10">
                  <view-label value="{{
                      deathNoticeData.ientCustomer.iPermanentaddress
                        .provinceDescription
                    }} {{
                      deathNoticeData.ientCustomer.iPermanentaddress
                        .islandDescription
                    }} "></view-label>
                </div>
                <div class="mb20 pl10">
                  <view-label value="{{
                    deathNoticeData.ientCustomer.iPermanentaddress
                      .village
                  }} {{
                      deathNoticeData.ientCustomer.iPermanentaddress
                        .tikinaDescription
                    }} {{
                      deathNoticeData.ientCustomer.iPermanentaddress.poBoxNo
                    }}"></view-label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="pl10 mb26">
              <view-label label="Comments" value="{{ deathNoticeData.comments }}">
              </view-label>
            </div>
          </div>
        </row>
        @if(deathNoticeData.statusValue === 'CREAT'){

        <div class="col-md-12">
          <div class="end gap-10">
            <app-icon-button name="edit" toolTip="Edit" (click)="editApplication()"></app-icon-button>
            @if(deathNoticeData.assignedOfficerFlag === 'True'){
            <button class="complete-btn" (click)="cancelProcess()">Cancel</button>
            <button class="approve-btn" (click)="saveNoticeSeen('NSEEN')">
              Notice Seen
            </button>
            }
          </div>
        </div>
        }
        <div></div>
      </div>
    </app-tab>
    @if(deathNoticeData.statusValue !=='CREAT' ){

    <app-tab tabTitle="Probate Registry">
      <div class="bg-white">
        <app-tab-sub-group (tabChange)="onChange($event)">
          <app-sub-tab tabTitle="Upload Document">
            <div class="card p16">
              <row>
                <div class="col-md-4 ">
                  <div class="box" style="padding: 8px 16px;">
                    <div class="mb20"></div>

                    <app-drop-zone type="1" [fileType]="fileExtension" [accept]="accept" [multiple]="false"
                      (onUpload)="uploadClientDocumentAttachment($event)"></app-drop-zone>
                  </div>
                  <div class="mb26"></div>

                </div>
                <div class="col-md-8">
                  <div class="outer-content-wrapper">
                    <div class="content-wrapper">
                      <div>
                        @if (loading) {
                        <!--  [dataSource]="application.lstentTrustApplicationDocument | trustApplicationPipe: this.type.trustApplicationStageValue: this.type.trustApplicationIdenityNo" -->


                        <div class="hide-table-header">
                          <app-table [columns]="supportDocumentColumns" [dataSource]="docsTableData"
                            [columnsName]="supportDocumentColumnsName" [hideSelectAll]="true" [showPaginator]="false"
                            columnID="trustApplicationDocumentId">
                            <ng-template cellHeaderDef="fileName">
                              <div class="w200px">
                                File Name
                              </div>
                            </ng-template>
                            <ng-template cellDef="fileName" let-element>
                              <div class="overflow-wrap">
                                {{element.ientFile.fileName}}
                              </div>
                            </ng-template>
                            <ng-template cellHeaderDef="documentTypeDescription">
                              <div class="w200px">Document Name</div>
                            </ng-template>
                            <ng-template cellDef="fileExtension" let-element>
                              {{element.ientFile.fileExtension}}
                            </ng-template>
                            <ng-template cellDef="fileSize" let-element>
                              {{element.ientFile.fileSize | fileSize}}mb
                            </ng-template>
                            <ng-template cellHeaderDef="action">
                              <div class="text-center">
                                Action
                              </div>
                            </ng-template>
                            <ng-template cellDef="action" let-element>
                              @if(element.ientFile.fileName!==''){

                              <div class="d-flex align-items-center justify-content-center ">
                                <app-icon-button name="doc-view" (click)="viewFile(element)">
                                </app-icon-button>
                                <app-icon-button name="doc-download" (click)="downloadFile(element)">
                                </app-icon-button>
                                @if(deathNoticeData.assignedOfficerFlag === 'True'){

                                <app-icon-button name="doc-delete" (click)="checkDocumentDelete(element)" />
                                }

                              </div>
                              }
                            </ng-template>
                          </app-table>
                        </div>
                        }
                      </div>

                    </div>
                  </div>
                </div>
              </row>
            </div>
          </app-sub-tab>
          <app-sub-tab tabTitle="Linked Document">
            <div class="outer-content-wrapper">
              <div class="content-wrapper">
                <app-table [columns]="linkedColumns" [columnsName]="linkedColumnsName" [hideSelectAll]="true"
                  [hasPagination]="true" [dataSource]="tableLinkedData">
                  <ng-template cellDef="action" let-element>
                    <app-icon-button name="doc-download" (click)="downloadLinkedFile(element)"></app-icon-button>
                  </ng-template>
                </app-table>
              </div>
            </div>
          </app-sub-tab>
        </app-tab-sub-group>
        @if(deathNoticeData.assignedOfficerFlag === 'True'){

        <div class="col-md-12 d-flex gap-10 pb10 end">

          <button class="complete-btn" (click)="cancelProcess()">Cancel</button>
          <button class="approve-btn" (click)="saveNoticeSeen('FPREG')">Filed at Probate Registry</button>
        </div>
        }

      </div>
    </app-tab>
    }
    <app-tab tabTitle="History">
      <accordion>
        <accordion-item [isOpen]="true">
          <accordion-header>
            <div class="accordion-header-content">
              <div class="accordion-title">
                <ion-icon src="assets/icons/accordian/customer-service.svg"></ion-icon>
                <div class="accordion-title-content">
                  <div>Assigned Officer</div>
                  <div class="accordian-title-count">{{deathNoticeData.ilstentDeathNoticeAssignedOfficerHistory.length}}
                  </div>
                </div>
              </div>
            </div>
          </accordion-header>
          <accordion-body>

            <div class="outer-content-wrapper">
              <div class="content-wrapper">
                <app-table [columns]="assignOfficerColumns" [columnsName]="assignOfficerColumnsName"
                  [hasPagination]="true" [dataSource]="deathNoticeData.ilstentDeathNoticeAssignedOfficerHistory"
                  [hideSelectAll]="true">
                  <ng-template cellDef="statusDescription" let-element>
                    <div class="status status-{{element.statusValue}}">{{element.statusDescription}}
                    </div>
                  </ng-template>
                  <ng-template cellDef="assignedDate" let-element>
                    {{element.assignedDate | appDate}}
                  </ng-template>
                  <!-- @if(customerUpdate.assignedOfficerFlag === 'True'){ -->
                  <ng-template #slotRight>
                    <div class="d-flex align-items-center">

                      <!-- @if(this.trustApplication.assignedOfficerFlag === 'True'){
                              @if(this.trustApplication.reAssignFlag === 'True'){
                              <form #p="ngForm" class="col-md-10 w250">
                                  <app-input-control type="select" key="constant" keyName="description"
                                      placeholder="Officer" [items]="assignedOfficerDDL"
                                      defaultOption="--Select--"
                                      [(ngModel)]="trustApplicationAssignedOfficer.assignedTo"
                                      name="assignedTo"></app-input-control>
                              </form>
                              <div class="col-md-2"><app-icon-button name="reassign"
                                      (click)="reAssignTrust()" toolTip="Reassign"></app-icon-button>
                              </div>
                              }
                              @if(this.trustApplication.selfAssignFlag ===' True'){
                              <div class="col-md-2"><app-icon-button name="add"
                                      (click)="selfAssignTrust()" toolTip="Self Assign"></app-icon-button>
                              </div>
                              }
                              } -->

                    </div>
                  </ng-template>
                  <!-- } -->
                </app-table>
              </div>
            </div>

          </accordion-body>
        </accordion-item>
      </accordion>
      <div class="bg-white-padd">

        <app-tab-sub-group>
          <app-sub-tab tabTitle="Status History">
            <div class="status-padding">
              <app-status-history [data]="deathNoticeData.ilstentDeathNoticeStatusHistory"></app-status-history>
            </div>
          </app-sub-tab>
          <app-sub-tab tabTitle="Communication History">
            <div class="outer-content-wrapper">
              <div class="content-wrapper">

                <app-table [columns]="emailColumns" [columnsName]="emailColumnsName" [hasPagination]="true"
                  [dataSource]="deathNoticeData.ilstentDeathNoticeEmailHistory" [hideSelectAll]="true">
                  <ng-template cellDef="toEmailId" let-element>
                    {{element.ientCommunicationTracking.toEmailId}}
                  </ng-template>
                  <ng-template cellDef="sentDate" let-element>
                    {{element.ientCommunicationTracking.sentDate |
                    appDate
                    }} |
                    {{element.ientCommunicationTracking.sentDate
                    | appDate: 'hh:mm a'}}
                  </ng-template>
                  <ng-template cellDef="sentStatusDescription" let-element>
                    <div class="status-{{element.ientCommunicationTracking.sentStatusValue}}">
                      {{element.ientCommunicationTracking.sentStatusDescription}}</div>
                  </ng-template>

                  <ng-template cellDef="action" let-element>
                    <app-icon-button name="open" toolTip="Open" (click)="viewEmailDetail(element)"></app-icon-button>
                  </ng-template>
                </app-table>
              </div>
            </div>
          </app-sub-tab>
        </app-tab-sub-group>
      </div>
    </app-tab>

  </app-tab-group>
</div>

<ng-template #breadCrumb>
  <div class="breadcrumb">
    <ul>
      <li class="screen-name link" (click)="navigateToList()">
        <div class="back-btn">
          <ion-icon src="assets/icons/back.svg"></ion-icon>
        </div>
        <ion-icon src="assets/icons/estate.svg"></ion-icon>
        <div class="screen-text">Death Notice</div>
      </li>
      <li class="screen-name">
        <div class="screen-text">Details</div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #deathDialog>
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-title">
        @if(deathNoticeData.deathNoticeId=== 0){Create} @else{ Edit } Death Notice
        Details
      </div>
      <div class="slot-right">
        <div class="btn-group">
          @if(editData === false){
          <app-icon-button name="edit" toolTip="Edit" (click)="editValues()"></app-icon-button>
          } @if(editData === true){ @if(deathNoticeData.deathNoticeId=== 0){
          <app-icon-button name="save" toolTip="Save" (click)="saveApplication()"></app-icon-button>
          <app-icon-button name="clear" toolTip="Clear" (click)="clearDeathNotice()"></app-icon-button>
          } @else{
          <app-icon-button name="save" toolTip="Update" (click)="saveApplication()"></app-icon-button>
          <app-icon-button name="refresh" toolTip="Refresh"
            (click)="openDeathNoticeDetail(deathNoticeData.deathNoticeId)"></app-icon-button>
          } }
          <app-icon-button name="close" toolTip="Close" (click)="
              closeAllDialogs(); openDeathNoticeDetail(this.deathNoticeId)
            "></app-icon-button>
        </div>
      </div>
    </div>
    <div class="dialog-content py10">
      <div class="dialog-content-inner">
        <scroll>
          @if(data.showErrorMessage){
          <div class="error-panel">
            <app-error-message></app-error-message>
          </div>
          }
          <form #b="ngForm" class="dialog-content-inner">
            <row>
              <div class="pb10"></div>
              @if(editData === true && deathNoticeData.deathNoticeId === 0){
              <div class="d-flex w100 align-items-center">
                <div class="col-md-3 pl10">
                  <app-input-control label="Customer" [items]="initialData.DDLValues.DDLCustomer" key="id" type="select"
                    [(ngModel)]="deathNoticeData.personId" name="customerId" valueType="int" defaultOption="--Select--"
                    (onSelect)="openCustomer($event)" keyName="fullName"></app-input-control>
                </div>
                <div class="col-md-1">
                  <app-icon-button name="search" toolTip="Search" (click)="customerSearch()"></app-icon-button>
                </div>
              </div>
              } @if(editData === false){
              <div class="d-flex w100 p10">
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">Death Notice Information</div>
                    <div class="box-pad">
                      <!-- <view-label class="pb10" label=" CRM No"
                                      [value]="deathNoticeData.ientCustomer.customerId"></view-label> -->

                      <!-- <view-label class="pb10" label="Client Name"
                                  value="{{trustApplicationDeathNotice}}"></view-label> -->
                      <!-- <div class="bottom-border"></div> -->
                      <div class="pb10"></div>
                      <view-label class="pb10" label="First Name"
                        [value]="deathNoticeData.ientCustomer.firstName"></view-label>
                      <view-label class="pb10" label="Middle Name"
                        [value]="deathNoticeData.ientCustomer.middleName"></view-label>
                      <view-label class="pb10" label="Last Name"
                        [value]="deathNoticeData.ientCustomer.lastName"></view-label>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <view-label class="pb10" label="Death Certificate Ref No"
                        [value]="deathNoticeData.deathNoticeRefNo"></view-label>
                      <view-label class="pb10" label="Date of Death"
                        [value]="deathNoticeData.dateOfDeath | appDate"></view-label>
                      <view-label class="pb10" label="Cause of Death"
                        [value]="deathNoticeData.causeOfDeath"></view-label>

                      <view-label class="pb10" label="Notice Date"
                        [value]="deathNoticeData.noticeDate | appDate"></view-label>
                      <view-label class="pb10" label="Paper " [value]="deathNoticeData.paperDescription"></view-label>
                      <view-label class="pb10" label="Branch  "
                        [value]="deathNoticeData.branchDescription"></view-label>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <view-label class="pb10" label="Date Of Birth" [value]="
                          deathNoticeData.ientCustomer.dateOfBirth | appDate
                        "></view-label>
                      <view-label class="pb10" label="Date Of Death" [value]="
                          deathNoticeData.ientCustomer.dateOfDeath | appDate
                        "></view-label>
                      <view-label class="pb10" label="Gender"
                        [value]="deathNoticeData.ientCustomer.genderDescription"></view-label>
                      <view-label class="pb10" label="Nationality" [value]="
                          deathNoticeData.ientCustomer.nationalityDescription
                        "></view-label>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <view-label class="pb10" label="Email ID"
                        [value]="deathNoticeData.ientCustomer.emailId"></view-label>
                      <view-label class="pb10" label="Contact No"
                        [value]="deathNoticeData.ientCustomer.contactNo"></view-label>
                      <view-label class="pb10" label="Alternate Contact No" [value]="
                          deathNoticeData.ientCustomer.alternateContactNo
                        "></view-label>

                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <view-label class="pb10" label="Father Name"
                        [value]="deathNoticeData.ientCustomer.fatherName"></view-label>
                      <view-label class="pb10" label="Mother Name"
                        [value]="deathNoticeData.ientCustomer.motherName"></view-label>
                      <view-label class="pb10" label="Guardian Name"
                        [value]="deathNoticeData.ientCustomer.gaurdianName"></view-label>
                      <!-- <view-label class="pb10" label="Home Contact" [value]="deathNoticeData.ientCustomer.contactNo"></view-label>
                                    <view-label class="pb10" label="Office Contact" [value]="deathNoticeData.ientCustomer."></view-label>
                                    <view-label class="pb10" label="Email" [value]="deathNoticeData.ientCustomer."></view-label> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">Address Details</div>
                    <div class="box-pad">
                      <view-label label="Line 1" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress.line1
                        "></view-label>
                      <view-label label="Line 2" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress.line2
                        "></view-label>
                      <view-label label="Line 3" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress.line3
                        "></view-label>
                      <view-label label="Province" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress
                            .provinceDescription
                        "></view-label>
                      <view-label label="Island" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress
                            .islandDescription
                        "></view-label>
                      <view-label label="Tikina" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress
                            .tikinaDescription
                        "></view-label>
                      <view-label label="Village" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress
                            .village
                        "></view-label>
                      <view-label label="Po Box No" class="pb10" [value]="
                          deathNoticeData.ientCustomer.iPermanentaddress.poBoxNo
                        "></view-label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">KYC Details</div>
                    <div class="box-pad">
                      <view-label label="FNPF No" class="pb10"
                        [value]="deathNoticeData.ientCustomer.fnpfNo"></view-label>
                      <view-label label="Driving License No" class="pb10"
                        [value]="deathNoticeData.ientCustomer.driverLicenseNo"></view-label>
                      <view-label label="Voter ID" class="pb10"
                        [value]="deathNoticeData.ientCustomer.voterId"></view-label>
                      <view-label label="National ID" class="pb10"
                        [value]="deathNoticeData.ientCustomer.nationalId"></view-label>
                      <view-label label="TIN" class="pb10" [value]="deathNoticeData.ientCustomer.tin"></view-label>
                      <view-label label="Passport No" class="pb10" [value]="deathNoticeData.ientCustomer.passportNo">
                      </view-label>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">Social Platform Details</div>
                    <div class="box-pad">
                      <view-label label="Facebook ID" class="pb10"
                        [value]="deathNoticeData.ientCustomer.facebookId"></view-label>
                      <view-label label="LinkedIn ID" class="pb10"
                        [value]="deathNoticeData.ientCustomer.linkedinId"></view-label>
                      <view-label label="Whatsapp" class="pb10"
                        [value]="deathNoticeData.ientCustomer.whatsappNumber"></view-label>
                      <view-label label="Viber" class="pb10"
                        [value]="deathNoticeData.ientCustomer.viberNumber"></view-label>
                      <view-label label="Skype ID" class="pb10"
                        [value]="deathNoticeData.ientCustomer.skypeId"></view-label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 p10">
                <div class="box h100">
                  <div class="box-header">Comments</div>
                  <div class="box-pad">
                    <app-input-control [btnClicked]="true" type="textarea" className="notes"
                      [(ngModel)]="deathNoticeData.comments" name="comments" label="Comments" [maxLength]="250">
                    </app-input-control>
                  </div>
                </div>
              </div>
              } @if(editData === true){
              <div class="d-flex w100 p10">
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">Death Notice Information</div>
                    <div class="box-pad">
                      <app-input-control class="pb10" label="First Name" name="firstName" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.firstName" [errorTrue]="errorTrue"
                        [required]="true" [maxLength]="250"></app-input-control>
                      <app-input-control class="pb10" label="Middle Name" name="middleName" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.middleName" [maxLength]="250"></app-input-control>
                      <app-input-control class="pb10" label="Last Name" name="lastName" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.lastName" [errorTrue]="errorTrue" [required]="true"
                        [maxLength]="250"></app-input-control>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <!-- <app-input-control
                        class="pb10"
                        label="Death Certificate Ref No"
                        name="deathNoticeRefNo"
                        [(ngModel)]="deathNoticeData.deathNoticeRefNo"
                        [errorTrue]="errorTrue"
                        [required]="true"
                        [maxLength]="250"
                      ></app-input-control> -->
                      <app-input-control type="date" label="Date of Death" [(ngModel)]="deathNoticeData.dateOfDeath"
                        name="dateOfDeath" [maxDate]="currentDate" class="mb20" [errorTrue]="errorTrue"
                        [required]="true"></app-input-control>
                      <app-input-control type="text" label="Cause of Death" [(ngModel)]="deathNoticeData.causeOfDeath"
                        name="causeOfDeath" class="mb20" [errorTrue]="errorTrue" [required]="true"></app-input-control>

                      <app-input-control type="date" label="Notice Date" [(ngModel)]="deathNoticeData.noticeDate"
                        name="noticeDate" class="mb20" [errorTrue]="errorTrue" [required]="true"></app-input-control>

                      <app-input-control type="select" label="Paper" [(ngModel)]="deathNoticeData.paperValue"
                        name="paperValue" defaultOption="--Select--" [items]="initialData.DDLValues.DDLPaper"
                        key="constant" keyName="description" [errorTrue]="errorTrue"
                        [required]="true"></app-input-control>
                      <app-input-control type="select" label="Branch" [(ngModel)]="deathNoticeData.branchValue"
                        name="branchValue" defaultOption="--Select--" [items]="initialData.DDLValues.DDLBranch"
                        key="constant" keyName="description" [errorTrue]="errorTrue"
                        [required]="true"></app-input-control>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <app-input-control class="pb10" label="Date Of Birth" name="dateOfBirth" type="date" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.dateOfBirth" [errorTrue]="errorTrue"
                        [required]="true" [maxDate]="currentDate"></app-input-control>

                      <app-input-control class="pb10" label="Gender" name="genderValue" [errorTrue]="errorTrue"
                        [(ngModel)]="deathNoticeData.ientCustomer.genderValue" [required]="true" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [items]="initialData.DDLValues.DDLGender" key="constant" keyName="description" type="select"
                        defaultOption="--Select--"></app-input-control>
                      <app-input-control class="pb10" label="Nationality" name="nationalityValue" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="
                          deathNoticeData.ientCustomer.nationalityValue
                        " [errorTrue]="errorTrue" [required]="true" [items]="initialData.DDLValues.DDLNationality"
                        key="constant" keyName="description" type="select"
                        defaultOption="--Select--"></app-input-control>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <app-input-control class="pb10" label="Email ID" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.emailId" name="emailId"
                        type="email"></app-input-control>
                      <app-input-control class="pb10" label="Contact No" [errorTrue]="errorTrue" [required]="true"
                        [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.contactNo" [minLength]="5" [maxLength]="10"
                        name="contactNo" type="number"></app-input-control>
                      <app-input-control class="pb10" label="Alternate Contact No" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [minLength]="5" [maxLength]="10" [(ngModel)]="
                          deathNoticeData.ientCustomer.alternateContactNo
                        " name="alternateContactNo" type="number"></app-input-control>
                      <div class="bottom-border"></div>
                      <div class="pb10"></div>
                      <app-input-control class="pb10" label="Father Name" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.fatherName" name="fatherName"></app-input-control>
                      <app-input-control class="pb10" label="Mother Name" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.motherName" name="motherName"></app-input-control>
                      <app-input-control class="pb10" label="Guardian Name" [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " [(ngModel)]="deathNoticeData.ientCustomer.gaurdianName"
                        name="gaurdianName"></app-input-control>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">Address Details</div>
                    <div class="box-pad">
                      <app-address-edit [errorTrue]="errorTrue" [ientAddress]="
                          deathNoticeData.ientCustomer.iPermanentaddress
                        " [btnClicked]="
                          deathNoticeData.ientCustomer.customerId !== 0
                        " type="residential"></app-address-edit>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">
                      KYC Details <span>(Any one field is Mandatory)</span>
                    </div>
                    <div class="box-pad">
                      <row>
                        <div class="col-md-12">
                          <app-input-control type="text" label="FNPF No" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [errorTrue]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === ''
                            " [(ngModel)]="deathNoticeData.ientCustomer.fnpfNo" [maxLength]="20"
                            name="fnpfNo "></app-input-control>
                        </div>
                        <div class="col-md-12">
                          <app-input-control type="text" label="Driving License No" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [(ngModel)]="
                              deathNoticeData.ientCustomer.driverLicenseNo
                            " name="driverLicenseNo " [maxLength]="20" [errorTrue]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === ''
                            "></app-input-control>
                        </div>
                        <div class="col-md-12">
                          <app-input-control type="text" label="Voter ID" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [(ngModel)]="deathNoticeData.ientCustomer.voterId" name="voterId " [maxLength]="20"
                            [errorTrue]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === ''
                            "></app-input-control>
                        </div>
                        <div class="col-md-12">
                          <app-input-control type="text" label="National ID" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [(ngModel)]="
                              deathNoticeData.ientCustomer.nationalId
                            " name="nationalId " [maxLength]="20" [errorTrue]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === ''
                            "></app-input-control>
                        </div>
                        <div class="col-md-12">
                          <app-input-control type="text" label="TIN" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [(ngModel)]="deathNoticeData.ientCustomer.tin" name="tin " [maxLength]="20" [errorTrue]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === ''
                            "></app-input-control>
                        </div>
                        <div class="col-md-12">
                          <app-input-control type="text" label="Passport No" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [(ngModel)]="
                              deathNoticeData.ientCustomer.passportNo
                            " name="passportNo " [maxLength]="20" [errorTrue]="
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.birthRegNo === ''
                            "></app-input-control>
                        </div>
                        <div class="col-md-12">
                          <app-input-control type="text" label="Birth Reg No" [btnClicked]="
                              deathNoticeData.ientCustomer.customerId !== 0
                            " [(ngModel)]="
                              deathNoticeData.ientCustomer.birthRegNo
                            " name="birthRegNo  " [maxLength]="20" [errorTrue]="
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.passportNo === '' &&
                              errorTrue
                            " [required]="
                              deathNoticeData.ientCustomer?.tin === '' &&
                              deathNoticeData.ientCustomer?.nationalId === '' &&
                              deathNoticeData.ientCustomer?.driverLicenseNo ===
                                '' &&
                              deathNoticeData.ientCustomer?.voterId === '' &&
                              deathNoticeData.ientCustomer?.fnpfNo === '' &&
                              deathNoticeData.ientCustomer?.passportNo === ''
                            " />
                        </div>
                      </row>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="box h100">
                    <div class="box-header">Social Platform Details</div>
                    <div class="box-pad">
                      <row>
                        <app-input-control label="Facebook ID" [btnClicked]="
                            deathNoticeData.ientCustomer.customerId !== 0
                          " [(ngModel)]="deathNoticeData.ientCustomer.facebookId" name="facebookId"
                          class="pb10 col-md-12"></app-input-control>
                        <app-input-control label="LinkedIn ID" [btnClicked]="
                            deathNoticeData.ientCustomer.customerId !== 0
                          " [(ngModel)]="deathNoticeData.ientCustomer.linkedinId" name="linkedinId"
                          class="pb10 col-md-12"></app-input-control>
                        <app-input-control label="Whatsapp" [btnClicked]="
                            deathNoticeData.ientCustomer.customerId !== 0
                          " [(ngModel)]="
                            deathNoticeData.ientCustomer.whatsappNumber
                          " name="whatsappNumber" class="pb10 col-md-12"></app-input-control>
                        <app-input-control label="Viber" [btnClicked]="
                            deathNoticeData.ientCustomer.customerId !== 0
                          " [(ngModel)]="deathNoticeData.ientCustomer.viberNumber" name="viberNumber"
                          class="pb10 col-md-12"></app-input-control>
                        <app-input-control label="Skype ID" [btnClicked]="
                            deathNoticeData.ientCustomer.customerId !== 0
                          " [(ngModel)]="deathNoticeData.ientCustomer.skypeId" name="skypeId"
                          class="pb10 col-md-12"></app-input-control>
                      </row>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 p10">
                <div class="box h100">
                  <div class="box-header">Comments</div>
                  <div class="box-pad">
                    <app-input-control [btnClicked]="applicationEdit" type="textarea" className="notes"
                      [(ngModel)]="deathNoticeData.comments" name="comments" label="Comments" [maxLength]="250">
                    </app-input-control>
                  </div>
                </div>
              </div>

              }
            </row>
          </form>
        </scroll>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #searchTemplate>
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-title">Customer Search</div>
      <div class="slot-right">
        <div class="btn-group">
          <app-icon-button name="search" toolTip="Search" (click)="onSearch()"></app-icon-button>
          <app-icon-button name="clear" toolTip="Clear" (click)="clear()"></app-icon-button>
          <app-icon-button name="close" (click)="appSearch.close()"></app-icon-button>
        </div>
      </div>
    </div>
    <div class="dialog-content">
      <scroll>
        <div class="dialog-content-inner">
          <form #l="ngForm" (submit)="onSearch()">
            <row>
              <div class="col-md-3 border-right">
                <row>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="Customer No" [(ngModel)]="customer.customerRefNo"
                      name="customerRefNo" (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="select" defaultOption="--Select--" label="Customer Status"
                      [(ngModel)]="customer.customerStatusValue" name="customerStatusValue"
                      [items]="initialData.DDLValues.DDLCustomerStatus" key="constant" keyName="description"
                      (onEnter)="onSearch()"></app-input-control>
                  </div>
                </row>
              </div>
              <div class="col-md-3 border-right">
                <row>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="First Name" [(ngModel)]="customer.firstName" name="firstName"
                      [maxLength]="250" (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="Middle Name" [(ngModel)]="customer.middleName"
                      name="middleName" [maxLength]="250" (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="Last Name" [maxLength]="250" [(ngModel)]="customer.lastName"
                      name="lastName" (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="select" defaultOption="--Select--" label="Gender"
                      [(ngModel)]="customer.genderValue" name="genderValue" [items]="initialData.DDLValues.DDLGender"
                      key="constant" keyName="description" placeholder="Select Gender"
                      (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="date" label="Date of Birth " [(ngModel)]="customer.dateOfBirth"
                      name="dateOfBirth" (onEnter)="onSearch()"></app-input-control>
                  </div>
                </row>
              </div>
              <div class="col-md-3 border-right">
                <row>
                  <div class="col-md-12 mb26">
                    <app-input-control type="email" label="Email ID" [(ngModel)]="customer.emailId" name="emailId"
                      (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="number" label="Contact Number" [minLength]="5" [maxLength]="10"
                      [(ngModel)]="customer.contactNo" name="contactNo" (onEnter)="onSearch()"></app-input-control>
                  </div>
                </row>
              </div>
              <div class="col-md-3">
                <row>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="FNPF No" [(ngModel)]="customer.pfNo" name="pfNo"
                      (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="Driving License No" [(ngModel)]="customer.drivingLicenseNo"
                      name="drivingLicenseNo"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="Voter ID" [(ngModel)]="customer.voterId" name="voterId"
                      (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <!-- <div class="col-md-12 mb26">
                                        <app-input-control type="text" label="National ID"
                                            [(ngModel)]="customer.nationalId" name="nationalId"
                                            (onEnter)="onSearch()"></app-input-control>
                                    </div> -->
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="TIN No" [(ngModel)]="customer.tin" name="tin"
                      (onEnter)="onSearch()"></app-input-control>
                  </div>
                  <div class="col-md-12 mb26">
                    <app-input-control type="text" label="Passport ID" [(ngModel)]="customer.passportNo"
                      name="passportNo" (onEnter)="onSearch()">
                    </app-input-control>
                  </div>
                </row>
              </div>
            </row>
          </form>
        </div>
      </scroll>
    </div>
  </div>
</ng-template>

<ng-template #cancelAlert>
  <div class="dialog-container">
    <div class="dialog-content">
      <div class="dialog-content-inner">
        <div class="notification-header">
          <div class="notification-icon">
            <ion-icon name="warning-outline"></ion-icon>
          </div>
          <div class="notification-title">Alert</div>
        </div>
        <div class="text-center p10">
          Are you sure you want to cancel this process
        </div>
        <div class="center">
          <div class="notification-button">
            <button class="btn-notification" (click)="saveNoticeSeen('CANLD')">Yes</button>
            <button class="btn-notification cancel-btn" (click)="dialog.closeAll()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
