.mb30 {
    margin-bottom: 30px;
}
.pt16{
    padding-top: 16px;
}

.hide-table-header{
    position: relative;
    margin-top: -48px;
}

.bg-white{
    background:  #fff !important;
}
.pb10{
    padding-bottom: 10px;
}