<accordion-item [isOpen]="true">
    <accordion-header>
        <div class="accordion-header-content">
            <div class="accordion-title">
                <ion-icon src="assets/icons/accordian/trust.svg"></ion-icon>
                <div class="accordion-title-content">
                    <div>Open Account</div>
                </div>
            </div>
        </div>
    </accordion-header>
    <accordion-body>
        <row>
            <div class="col-md-9">
                <row>
                   
                    <div class="col-md-4"> <view-label label="Assigned Officer"
                            value="{{application.ientEstateApplicationAssignedOfficerHistory.assignedToFullname}}"></view-label>
                    </div>
                    <div class="col-md-4"> <view-label label="Assigned Date"
                            value="{{application.ientEstateApplicationAssignedOfficerHistory.assignedDate | appDate}}"></view-label>
                    </div>
                    <!-- <div class="col-md-4"> <view-label label="TAT"
                            value=" {{application.ientEstateApplicationAssignedOfficerHistory.tatDays}} Days"></view-label>
                    </div> -->
                </row>
            </div>
            <div class="col-md-3">
                <div class="d-flex">
                    @if(this.type.isEditable === 'Y'){

                    @if(this.application.reAssignFlag === 'True'){
                    <form #p="ngForm" class="col-md-10 w250">
                        <app-input-control type="select" key="constant" keyName="description"
                            placeholder="Officer" [items]="assignedOfficerDDL"
                            defaultOption="--Select--"
                            [(ngModel)]="estateApplicationAssignedOfficer.assignedTo"
                            name="assignedTo"></app-input-control>
                    </form>
                    <div class="col-md-2"><app-icon-button name="reassign" (click)="reAssignEstate()"
                            toolTip="Reassign"></app-icon-button></div>
                    }

                    @if(this.application.selfAssignFlag ===' True'){
                    <div class="col-md-2"><app-icon-button name="add" (click)="selfAssignEstate()"
                            toolTip="Self Assign"></app-icon-button></div>
                    }
                    }
                </div>
            </div>
        </row>
        <div class="mb20"></div>
        <!-- <row>
            <div class="col-md-4 mb26 pl20">
                <view-label label="Account No" value="{{application.ientFptclAccountNo.accountNo}}"></view-label>
            </div>
        </row> -->
        <div class="outer-content-wrapper">

            <div class="content-wrapper">
                <app-table [columns]="trustAccountColumn" [columnsName]="trustAccountColumnName"
                    [hasPagination]="true" [hideSelectAll]="true"
                    columnID="accountId">
                    <ng-template cellDef="action" let-element>
                        <div class="d-flex gap-10">
                            <app-icon-button name="open" toolTip="Open"
                                (click)="openTrustAccount(element.accountId)"></app-icon-button>
                            @if(type.isEditable === 'Y' && application.assignedOfficerFlag === 'True'){
                            <app-icon-button name="doc-delete" toolTip="Delete"
                                (click)="checkDelete(element)"></app-icon-button>
                            }
                        </div>
                    </ng-template>
                    <ng-template #slotRight>
                        @if(type.isEditable === 'Y' && application.assignedOfficerFlag === 'True'){
                        <app-icon-button name="add" toolTip="Add New" (click)="createTrustAccount()"></app-icon-button>
                        }
                    </ng-template>
                </app-table>
            </div>
        </div>

        <form #notiForm="ngForm">
            <row>
                <div class="col-md-12">
                    <app-input-control type="textarea" className="notes" [errorTrue]="errorTrue" [maxLength]="250"
                        [required]="true" label="Notes" [(ngModel)]="notesMessage"
                        name="notesMessage"></app-input-control>
                </div>
                <div class="col-md-12 mb26 gap-10 end">
                    @if(type.isEditable === 'Y' && application.assignedOfficerFlag === 'True'){
                    <app-icon-button name="save" toolTip="Save" (click)="saveNotes()"></app-icon-button>

                    }
                    <!-- @if(trustApplicationNotes.isUpdateButtonShow ==='Y'){
                <app-icon-button name="save" toolTip="Update" (click)="saveTrustApplication()"></app-icon-button>
                <app-icon-button name="refresh" toolTip="Refresh" (click)=" refeshData()"></app-icon-button>
                }
                @else {

                <app-icon-button name="clear" toolTip="Clear" (click)="clearCourtOrderNotes()"></app-icon-button>
                } -->
                </div>
                <div class=""></div>
            </row>
        </form>
        <div class="col-md-12 end">
            @if(type.isEditable === 'Y' && application.assignedOfficerFlag === 'True'){
            <button type="submit" class="approve-btn" (click)="completeApplicationStage()"> Account Opened</button>
            }
        </div>
    </accordion-body>
</accordion-item>


<ng-template #bankDialog>
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title"><ion-icon class="dialog-header-icon"
                    src="assets/icons/accordian/trust.svg"></ion-icon>
                Trust Account <ion-icon class="arrow-icon" src="assets/icons/arrow.svg"></ion-icon>
                Add New
            </div>
            <div class="slot-right">
                <div class="btn-group">
                    @if(type.isEditable === 'Y' && application.assignedOfficerFlag === 'True'){
                    <app-icon-button name="save" toolTip="Save" (click)="saveTrustAccount()"
                        appButtonAccess=""></app-icon-button>
                    <app-icon-button name="clear" toolTip="Clear" (click)="clear()"
                        appButtonAccess=""></app-icon-button>
                    }
                    <app-icon-button name="close" toolTip="Close" appButtonAccess="CrmCustAppCancelBtn"
                        (click)="dialog.closeDialog()"></app-icon-button>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <div class="dialog-content-inner h100">
                @if(data.showErrorMessage){
                <div class="error-panel">
                    <app-error-message></app-error-message>
                </div>
                }
                <row class="row-h100">
                    <scroll>
                        <form #l="ngForm" class="dialog-content-inner">
                            <row>
                                <!-- <app-input-control class="col-md-6" label="Account No" type="number" [maxLength]="20"
                                    [(ngModel)]="trustAccount.accountNo" name="accountNo"></app-input-control> -->
                                <app-input-control class="col-md-6" label="Account Type"
                                    [(ngModel)]="trustAccount.accountTypeValue" name="accountTypeValue"
                                    [items]="initialData.DDLValues.DDLAccountType" key="constant" keyName="description"
                                    type="select" defaultOption="--Select--"></app-input-control>
                                <app-input-control class="col-md-6" label="Customer Name"
                                    [(ngModel)]="trustAccount.customerId" name="customerId" [items]="customerDDL"
                                    key="id" keyName="fullName" type="select"
                                    defaultOption="--Select--"></app-input-control>
                                <app-input-control class="col-md-6" label="Bank Name" (onSelect)="getBranchDDL($event)"
                                    [items]="initialData.DDLValues.DDLBankType" key="constant" keyName="description"
                                    type="select" defaultOption="--Select--" [(ngModel)]="trustAccount.bankValue"
                                    name="bankValue"></app-input-control>
                                <app-input-control class="col-md-6" label="Branch Name" 
                                    [(ngModel)]="trustAccount.branchValue" name="branchValue"
                                    [items]="branchDDL" key="constant" keyName="description"
                                    type="select" defaultOption="--Select--"></app-input-control>
                                <app-input-control class="col-md-6" label="Status"
                                    [(ngModel)]="trustAccount.statusValue" name="statusValue"
                                    [items]="initialData.DDLValues.DDLActiveInactive" key="constant"
                                    keyName="description" type="select" [btnClicked]="trustAccount.accountId===0"
                                    defaultOption="--Select--"></app-input-control>
                            </row>
                        </form>
                    </scroll>
                </row>
            </div>
        </div>
    </div>
</ng-template>