@if (data.length > 0) {
<div class="status-history">
    <ul>
        @for (x of data; track $index) {
        <li>

            <div class="status-history-title d-flex gap-5">
                <div>
                    {{x.applicationStatusDescription}} |
                </div>

                <div class="status-{{x.actionStatusValue}}">{{x.actionStatusDescription}}</div>
            </div>


            <div class="status-history-subtitle">{{x.changedByFullname}} | {{x.changedDate |appDate}} | {{x.changedDate
                |appDate: 'hh:mm a'}}</div>
        </li>
        }
    </ul>
</div>
}