//toggle
.label-data {
    font-size: 12px;
    font-weight: 500;
    color: #676767;
}

.m10px {
    margin: 10px;
}

.h280 {
    height: 280px;
}

.pr5px {
    padding-right: 5px !important;
}

.approve-btn {
    background: #0079c4 !important;
    color: #fff !important;
    padding: 8px 16px;
    border: 1px solid #0079c4;

    &:hover {
        background: #fff !important;
        color: #0079c4 !important;

    }
}

.table-approve {
    min-width: 75px;
    background: green;
    border: 1px solid green;
    padding: 5px;
    color: #fff;

    &:hover {
        background: #fff;
        color: green;
    }
}

.table-verify {
    min-width: 75px;
    background: rgb(173, 171, 17);
    border: 1px solid rgb(173, 171, 17);
    padding: 5px;
    color: #fff;

    &:hover {
        background: #fff;
        color: rgb(173, 171, 17)
    }
}

//table
.sub-table {
    margin-top: 14px;
    // border-bottom: 1px solid #E0E0E0;   

    tr {
        th {
            padding: 8px 0px;
            border-top: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0;
            font-size: 14px;
            color: #231F20;
            font-weight: 500;
        }
    }

    tr {
        td {
            font-size: 12px;
            font-weight: 400;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 24px;
            padding-right: 24px;
            text-align: center;
        }
    }
}

.w33 {
    width: 33%;
}

.hori-active {
    background: #0079c4 !important;
    color: #fff !important;
    font-weight: 500 !important;
}

.horizontal-tab {
    background: #fff;
    color: #000;
    padding: 8px 16px;
    border-top-right-radius: 25px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;

}

.m50 {
    margin: 30px;
}

//
.bgc {
    background-color: #00000061;
}

.p-fix {
    position: absolute;
    right: 2rem;
    top: 1rem;
    z-index: 1;
}

.close-button {
    button {
        width: 120px;
        font-size: 16px;
        height: 40px;
        margin-left: 10px;
        border: none;
        border-radius: 6px;
        color: #fff;
        background: var(--app-warning);
    }
}

.download-button {
    button {
        width: 120px;
        font-size: 16px;
        height: 40px;
        color: #fff;
        background: var(--app-primary);
        border: none;
        border-radius: 5px;
    }
}

.w200px {
    width: 200px !important;
}

.overflow-wrap {
    overflow-wrap: anywhere !important;
}