.info-btn {
	background-color: var(--app-primary);
	color: #fff;
}

.lh25 {
	line-height: 26px;
}

.pr22 {
	padding-right: 22px;
}

.card-accordion {
	background: white;

	.card-accordion-header {
		display: flex;
		border-bottom: 1px solid #E0E0E0;
		align-items: center;
		justify-content: space-between;
		height: 44px;

		ion-icon {
			font-size: 20px;
			font-weight: 200;
			color: #b0b0b0;
		}

		.tab-sub-header {
			text-decoration: none;
			font-size: 14px;
			font-weight: 700;
			padding: 8px 16px;
			cursor: pointer;
			color: var(--text-dark-color);

			&:hover {
				color: #0079c4;
			}

		}
	}

	.accordion-card-content {
		padding: 16px;
	}
}

.mb16 {
	margin-bottom: 16px;
}

.tabActive-text {
	color: #0079c4 !important;
}