.info-btn {
	background-color: var(--app-primary);
	color: #fff;
}

.lh25 {
	line-height: 26px;
}

.pr22 {
	padding-right: 22px;
}
.pb16{
	padding-bottom: 20px;
}
.w97{
	width: 97%;
	margin-top: 10px;
}