.config-header {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0px 15px 0;
}

.bg-card {
    background: #fff;
    padding: 16px;
}
.mt4{
    margin-top: 5px;
}

.hei-58{
    height: 60px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hei-38{
    height: 38px;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}