.assign-grp {
    // justify-content: center;
    align-items: center;
}

.p-2 {
    padding: 7px;
}

.content-header {
    background: #f2faff !important;
    min-height: 120px !important;
}

.account-table .app-table-head {
    position: sticky;
    top: 0%;
    z-index: 1;
}