<div class="v-flex h100" appAccess="FUDTN" [parentId]="pageId">
    <div *ngIf="!edit" class="content-header">
        <div class="card-box  border-right w100">
            <div class="card-content">
                <label>By Event</label>
                <div class="content">
                    {{
                    cashCounter.branchDescription
                    ? cashCounter.branchDescription
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>By Sub-Event</label>
                <div class="content">
                    {{
                    cashCounter.branchDescription
                    ? cashCounter.branchDescription
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Posting Matrix</label>
                <div class="content">
                    {{
                    cashCounter.branchDescription
                    ? cashCounter.branchDescription
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>File Type</label>
                <div class="content">
                    {{
                    cashCounter.branchDescription
                    ? cashCounter.branchDescription
                    : "-"
                    }}
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <label>Acct Number</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterName
                    ? cashCounter.cashCounterName
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Acct Name</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterName
                    ? cashCounter.cashCounterName
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Acct Type</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterName
                    ? cashCounter.cashCounterName
                    : "-"
                    }}
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <label>Primary-Value</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterNo
                    ? cashCounter.cashCounterNo
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Correspondent Value</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterNo
                    ? cashCounter.cashCounterNo
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Narrative</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterNo
                    ? cashCounter.cashCounterNo
                    : "-"
                    }}
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <label>Transct Code</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Ref #</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Ref Date</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <label>Total Debit</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Total Credit</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Post-Date</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <label>Cre-Date</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Cre-By</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Doc/Eff Date</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
        </div>

        <div class="card-box">
            <div class="card-content">
                <label>Doc #</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Doc Name</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
            <div class="card-content">
                <label>Branch Name</label>
                <div class="content">
                    {{
                    cashCounter.cashCounterCode
                    ? cashCounter.cashCounterCode
                    : "-"
                    }}
                </div>
            </div>
        </div>
        <!-- <div class="status-header-box">
            <div class="card-box-1">
                <div class="card-content">
                    <label>Status</label>
                    <div class="content status-{{ cashCounter.statusValue }}">
                        {{ cashCounter.statusDescription }}
                    </div>
                </div>
                @if(cashCounter.cashCounterId === 0){
                <div class="card-content btn-group">
                    <app-icon-button name="save" toolTip="Save" (click)="editCashCounter()"></app-icon-button>
                    <app-icon-button name="refresh" toolTip="Refresh" (click)="
                showCashCounter()
              " appButtonAccess="FunTraNotRefreshBtn"></app-icon-button>
                </div>
                }@else {
                <div class="card-content btn-group">
                    <app-icon-button name="edit" toolTip="Edit" (click)="editCashCounter()"
                        appButtonAccess="FunTraNotUpdateBtn"></app-icon-button>
                    <app-icon-button name="open" toolTip="Open" (click)="
                showCashCounter()
              " appButtonAccess="FunTraNotRefreshBtn"></app-icon-button>
                </div>
                }
            </div>
            <div>
                <a mat-icon-button class="more-btn" [matMenuTriggerFor]="triggerMenu">
                    <ion-icon name="ellipsis-vertical" class="icon-black"></ion-icon>
                </a>
            </div>
        </div> -->
    </div>
    <div *ngIf="edit" class="content-header">
        <div class="card-box  border-right w100">
            <div class="card-content">
                <div class="content">
                    <app-input-control type="select" label="By Event" defaultOption="--select--" [(ngModel)]="event"
                        name="event"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="select" label="By Sub-Event" defaultOption="--select--" [(ngModel)]="event"
                        name="event"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="select" label="Posting Matrix" defaultOption="--select--"
                        [(ngModel)]="event" name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="File Type" defaultOption="--select--" [(ngModel)]="event"
                        name="event"></app-input-control>
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <app-input-control type="text" label="Acct Number" defaultOption="--select--" [(ngModel)]="event"
                    name="event"></app-input-control>
            </div>
            <div class="card-content">
                <app-input-control type="text" label="Acct Name" defaultOption="--select--" [(ngModel)]="event"
                    name="event"></app-input-control>
            </div>
            <div class="card-content">
                <app-input-control type="text" label="Acct Type" defaultOption="--select--" [(ngModel)]="event"
                    name="event"></app-input-control>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">

                <div class="content">
                    <app-input-control type="text" label="Primary-Value" defaultOption="--select--" [(ngModel)]="event"
                        name="event"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <div class="content">
                        <app-input-control type="text" label="Correspondent Value" defaultOption="--select--"
                            [(ngModel)]="event" name="event" [btnClicked]="true"></app-input-control>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <app-input-control type="text" label="Narrative" defaultOption="--select--" [(ngModel)]="event"
                    name="event"></app-input-control>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Transct Code" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Ref #" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Ref Date" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Total Debit" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Total Credit" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="date" label="Post-Date" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
        </div>
        <div class="card-box border-right">
            <div class="card-content">
                <div class="content">
                    <app-input-control type="date" label="Created-Date" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Created By" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-input-control type="date" label="Doc/Eff Date" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
        </div>

        <div class="card-box">
            <div class="card-content">
                <div class="content">
                    <app-input-control type="text" label="Doc #" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
            <div class="card-content">
                <app-input-control type="text" label="Doc Name" defaultOption="--select--" [(ngModel)]="event"
                    name="event" [btnClicked]="true"></app-input-control>
            </div>
            <div class="card-content">

                <div class="content">
                    <app-input-control type="text" label="Branch Name" defaultOption="--select--" [(ngModel)]="event"
                        name="event" [btnClicked]="true"></app-input-control>
                </div>
            </div>
        </div>
        <!-- <div class="status-header-box">
            <div class="card-box-1">
                <div class="card-content">
                    <label>Status</label>
                    <div class="content status-{{ cashCounter.statusValue }}">
                        {{ cashCounter.statusDescription }}
                    </div>
                </div>
                @if(cashCounter.cashCounterId === 0){
                <div class="card-content btn-group">
                    <app-icon-button name="save" toolTip="Save" (click)="editCashCounter()"></app-icon-button>
                    <app-icon-button name="refresh" toolTip="Refresh" (click)="
                showCashCounter()
              " appButtonAccess="FunTraNotRefreshBtn"></app-icon-button>
                </div>
                }@else {
                <div class="card-content btn-group">
                    <app-icon-button name="edit" toolTip="Edit" (click)="editCashCounter()"
                        appButtonAccess="FunTraNotUpdateBtn"></app-icon-button>
                    <app-icon-button name="open" toolTip="Open" (click)="
                showCashCounter()
              " appButtonAccess="FunTraNotRefreshBtn"></app-icon-button>
                </div>
                }
            </div>
            <div>
                <a mat-icon-button class="more-btn" [matMenuTriggerFor]="triggerMenu">
                    <ion-icon name="ellipsis-vertical" class="icon-black"></ion-icon>
                </a>
            </div>
        </div> -->
    </div>
    <div class="content-body flex-1">
        <div class="flex-1 relative h100  pt-2">
            <div class="ab">
                <div class="rel pb-5">
                    <table class="app-table account-table">
                        <thead class="app-table-head">
                            <tr class="app-table-header-row">
                                <th rowspan="2" class="app-table-header-cell text-center">Sl.No</th>
                                <th rowspan="2" class="app-table-header-cell">
                                    <div class="header-cell-title">Group Name</div>
                                </th>
                                <th class="app-table-header-cell">Ledger Name</th>
                                <th class="app-table-header-cell">Posting Type</th>
                                <!-- <th class="app-table-header-cell">Posting Nature</th> -->
                                <th class="app-table-header-cell ">
                                    Posting Value
                                </th>
                                <th class="app-table-header-cell ">
                                    Posting Type
                                </th>
                                <th class="app-table-header-cell ">
                                    Posting Books
                                </th>
                                <th class="app-table-header-cell">
                                    Action
                                </th>
                            </tr>

                        </thead>
                        <tbody class="app-table-body">
                            @for (doc of tableData;

                            track doc; let i = $index) {
                            <!-- filterAndSort : filterFileName : 'attachmentFileName' : false; -->
                            <tr class="app-table-row">
                                <td class="app-table-cell text-center">
                                    {{ i + 1 }}
                                </td>
                                <td class="app-table-cell">


                                </td>
                                <td class="app-table-cell">


                                </td>

                                <!-- <td class="app-table-cell">
                                                    DR-RO
                                                </td> -->
                                <td class="app-table-cell">

                                </td>
                                <td class="app-table-cell">

                                </td>
                                <td class="app-table-cell">

                                </td>
                                <td class="app-table-cell">

                                </td>
                                <td class="app-table-cell">
                                    <div class="">
                                        <app-icon-button name="edit" toolTip="Edit"></app-icon-button>
                                        <!-- (click)="onEdit()" -->
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #cashCounterEditDialog>
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title">
                <ion-icon class="fos-20" src="assets/icons/finance.svg"></ion-icon>
                Cash Counter > Detail > Edit
                <!-- @if(lockLedger.actLedgerLockHistoryId === 0){ Ledger > Detail > Add Lock
          Detail } @else{ Ledger > Detail > Edit Lock Detail } -->
            </div>
            <div class="slot-right">
                <div class="btn-group">
                    <!-- @if(lockLedger.actLedgerLockHistoryId === 0){ -->
                    <app-icon-button name="save" toolTip="Save"></app-icon-button>
                    <app-icon-button name="clear" toolTip="Clear"></app-icon-button>
                    <!-- } @else{ -->

                    <!-- <app-icon-button name="save" toolTip="Update"></app-icon-button>
                    <app-icon-button name="refresh" toolTip="Refresh"></app-icon-button> -->
                    <!-- } -->
                    <app-icon-button name="close" toolTip="Close" (click)="dialog.closeDialog()"></app-icon-button>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <div class="dialog-content-inner">
                <!-- <form #x="ngForm">
                    <row>


                        <div class="col-md-12 ">
                            <app-input-control type="text" label="Counter No"></app-input-control>
                        </div>
                        <div class="col-md-12">
                            <app-input-control type="select" label="Branch" defaultOption="--Select--"
                                valueType="string"></app-input-control>
                        </div>
                        <div class="col-md-12">
                            <app-input-control type="text" label="Counter Name"></app-input-control>
                        </div>
                        <div class="col-md-12">
                            <app-input-control type="text" label="Counter Code"></app-input-control>
                        </div>
                        <div class="col-md-12">
                            <app-input-control type="text" label="Status"></app-input-control>
                        </div>


                    </row>
                </form> -->
                <app-cash-counter-info></app-cash-counter-info>
            </div>
        </div>
    </div>
</ng-template>
<mat-menu xPosition="before" class="status-trigger-menu" #triggerMenu="matMenu">
    <table class="status-table w100">
        <thead class="status-header">
            <tr>
                <th class="status-header-cell">Changed By | Changed Date</th>
                <th class="status-header-cell">Status</th>
            </tr>
        </thead>
        <tbody class="hover_none">
            @for (status of cashCounter.plstCashCounterStatusHistory;
            track $index) {
            <tr class="status-body-row">
                <td class="status-body-cell">
                    <div class="status_by">
                        {{ status.changedByFullName ? status.changedByFullName : "-" }}
                    </div>
                    <div class="sub-status_by">{{ status.changedDate | appDate }}</div>
                </td>
                <td class="status-body-cell">
                    <div class="status_by">
                        {{ status.cashCounterStatusDescription }}
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</mat-menu>
<ng-template #breadCrumb>
    <div class="breadcrumb">
        <ul>
            <li class="screen-name link" (click)="navigateToList()">
                <!-- <div class="back-btn">
                    <ion-icon src="assets/icons/back.svg"></ion-icon>
                </div> -->
                <ion-icon src="assets/icons/finance.svg"></ion-icon>
                <div class="screen-text">Payment And Receipt</div>
            </li>
            <li class="screen-name">
                <div class="screen-text">Detail</div>
            </li>
        </ul>
    </div>
</ng-template>