<!-- [parentId]="pageId" -->
<div class="content-wrapper" appAccess="CUSTR">
    <app-table [pagination]="pagination" [columns]="columns" [columnsName]="columnsName" [dataSource]="tableData"
        (pageChanged)="pageChanged($event)" columnID="customerId" (onSelect)="onSelect($event)" [hasPagination]="true"
        [hideSelectAll]="true" [sortColumnsName]="sortColumnsName">

        <ng-template cellDef="action" let-element>
            <app-icon-button name="open" toolTip="Open"
                (click)="openSalesInvoice(element.salesInvoiceId)"></app-icon-button>
        </ng-template>

        <ng-template cellHeaderDef="docNo">
            <div class="header-cell-title ">Document No</div>
            <div class="header-cell-subtitle">Document Name</div>
        </ng-template>
        <ng-template cellDef="docNo" let-element>
            <div>{{element.salesInvoiceRefNo
                }}</div>
            <div class="table-cell-subtitle ">{{element.voucherName}}</div>
        </ng-template>

        <ng-template cellHeaderDef="createdDate">
            <div class="header-cell-title ">Created Date</div>
            <div class="header-cell-subtitle">Created By </div>
        </ng-template>
        <ng-template cellHeaderDef="date">
            <div class="header-cell-title ">Document Date</div>
            <!-- <div class="header-cell-subtitle">Region </div> -->
        </ng-template>
        <ng-template cellDef="date" let-element>
            <div>{{element.documentDate | appDate
                }}</div>
            <!-- <div class="table-cell-subtitle ">{{element.regionDescription}}</div> -->
        </ng-template>
        <ng-template cellDef="createdDate" let-element>
            <div class="table-cell-subtitle ">{{element.enteredDate | appDate}}</div>
            <div>{{element.enteredBy}}</div>
        </ng-template>

        <ng-template cellHeaderDef="appDate">
            <div class="header-cell-title ">Approved Date</div>
            <div class="header-cell-subtitle">Approved By </div>
        </ng-template>
        <ng-template cellDef="appDate" let-element>
            <div class="table-cell-subtitle ">{{element.approvedDate | appDate}}</div>
            <div>{{element.approvedBy}}</div>
        </ng-template>

        <ng-template cellHeaderDef="docAmount">
            <div class="header-cell-title">Document Amount</div>
            <div class="header-cell-subtitle">Currency Name</div>
        </ng-template>
        <ng-template cellDef="docAmount" let-element>
            <div class="amount-align">{{element.netAmount}}</div>
            <div class="table-cell-subtitle amount-align">{{element.currencyName ? element.currencyName : "-" }}</div>
        </ng-template>

        <ng-template cellHeaderDef="reportingAmount">
            <div class="header-cell-title amount-align">Reporting Amount</div>
            <!-- <div class="header-cell-subtitle">Local Ccy({{appService.currencyValue}})</div> -->
        </ng-template>
        <ng-template cellDef="reportingAmount" let-element>
            <div class="amount-align">{{element.reportingAmount}}</div>
            <!-- <div class="table-cell-subtitle ">{{element.createdDate | appDate}}</div> -->
        </ng-template>
        <ng-template cellHeaderDef="action">
            <div class="header-cell-title ">Action</div>
        </ng-template>
        <ng-template cellDef="status" let-element>
            <accouts-status-table [statusDescription]="element.status"></accouts-status-table>
        </ng-template>
        <ng-template #slotLeft>
            <app-search #appSearch [searchTemplate]=" searchTemplate"></app-search>
        </ng-template>
        <ng-template #slotRight>
            <form #l="ngForm">
                <div class="d-flex align-items-center">
                    <div class="col-md-10 mt10">
                        <app-input-control type="select" placeholder="Document Name" [(ngModel)]="voucherConfigId"
                            name="voucherConfigId" [items]="initialData.DDLValues.DDLVoucherConfig" key="id"
                            keyName="name" (onSelect)="getVoucherDetail(voucherConfigId)" [errorTrue]="errorTrue"
                            [required]="true" ></app-input-control>
                    </div>
                    <div class="col-md-1">
                        <app-icon-button name="add" toolTip="Add New" (click)="createNewSaleseInvoice()"
                            appButtonAccess="CrmCustAppAddBtn"></app-icon-button>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template #slotMiddle>
            <div class="d-flex">
                <div (click)="statusSortSearch('INPRO')"><table-status-sort type="processing"
                        [processingCount1]="totalInprogressCount"></table-status-sort>
                </div>
                <div (click)="statusSortSearch('APROV')">
                    <table-status-sort type="approving" [approvedCount1]="totalApprovedCount"></table-status-sort>
                </div>
            </div>
        </ng-template>

    </app-table>
</div>

<ng-template #searchTemplate>
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title">Sales Invoice Search</div>
            <div class="slot-right">
                <div class="btn-group">
                    <app-icon-button name="search" toolTip="Search" (click)="onSearch()"></app-icon-button>
                    <app-icon-button name="clear" toolTip="Clear" (click)="clear()"></app-icon-button>
                    <app-icon-button name="close" (click)="this.appSearch.close()"></app-icon-button>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <scroll>
                <div class="dialog-content-inner">

                    <row>
                        <div class="col-md-3 border-right">
                            <row>
                                <div class="col-md-12 ">
                                    <app-input-control type="text" label="SI Document No" placeholder="SI Document No"
                                        [(ngModel)]="searchParams.strSiRefNo" name="strSiRefNo"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="date" label="Created Date From" placeholder="Select Date"
                                        [(ngModel)]="searchParams.dtmEnteredDatefrom" name="dtmEnteredDatefrom"
                                        [maxDate]="searchParams.dtmEnteredDateto"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="date" label="Approved Date From " placeholder="Select Date"
                                        [(ngModel)]="searchParams.dtmApprovedDatefrom" name="dtmApprovedDatefrom"
                                        [maxDate]="searchParams.dtmApprovedDateto"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="select" label="Status"
                                        [(ngModel)]="searchParams.strstatusValue" name="strstatusValue"
                                        [items]="initialData.DDLValues.configSalesInvoiceStatus" key="constant"
                                        keyName="description" defaultOption="--Select--"></app-input-control>
                                </div>

                            </row>
                        </div>
                        <div class="col-md-3 border-right">
                            <row>
                                <div class="col-md-12 ">
                                    <app-search-customer label="Customer Name" [displayText]="customerName"
                                        (onSelect)="doSearchCustomer($event)"
                                        [(ngModel)]="searchParams.lngActcustomerId" name="lngActcustomerId"
                                        [errorTrue]="errorTrue" [hideStatus]="true" [hideNewBtn]="true">
                                    </app-search-customer>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="date" label="Created Date To" placeholder="Select Date"
                                        [(ngModel)]="searchParams.dtmEnteredDateto" name="dtmEnteredDateto"
                                        [minDate]="searchParams.dtmEnteredDatefrom"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="date" label="Approved Date To" placeholder="Select Date"
                                        [(ngModel)]="searchParams.dtmApprovedDateto" name="dtmApprovedDateto"
                                        [minDate]="searchParams.dtmApprovedDatefrom"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="number" label="Amount Range From" [decimal]="2"
                                        [(ngModel)]="searchParams.netAmountFrom"
                                        name="netAmountFrom"></app-input-control>
                                </div>
                            </row>
                        </div>
                        <div class="col-md-3 border-right">
                            <row>
                                <!-- <div class="col-md-12 ">
                                      <app-input-control type="select" label="Branch Name"  [(ngModel)]="searchParams.strbranchId" name="strbranchId" [items]="initialData.DDLValues.DDLBranch" key="id" keyName="name" defaultOption="--Select--"
                                          ></app-input-control>
                                  </div> -->
                                <div class="col-md-12 ">
                                    <app-input-control type="select" label="Region"
                                        [(ngModel)]="searchParams.regionValue" name="regionValue"
                                        [items]="initialData.DDLValues.DDLRegion" key="constant" keyName="description"
                                        defaultOption="--Select--"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="date" label="Document Date From" placeholder="Select Date"
                                        [(ngModel)]="searchParams.documentDateFrom" name="documentDateFrom"
                                        [maxDate]="searchParams.documentDateTo"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="select" label="Approved By"
                                        [(ngModel)]="searchParams.strApprovedby" name="strApprovedby"
                                        [items]="initialData.DDLValues.DDLUser" key="code" keyName="name"
                                        defaultOption="--Select--"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="number" label="Amount Range To" [decimal]="2"
                                        [(ngModel)]="searchParams.netAmountTo" name="netAmountTo"></app-input-control>
                                </div>
                            </row>
                        </div>
                        <div class="col-md-3">
                            <row>
                                <div class="col-md-12 ">
                                    <app-input-control type="select" label="Document Name"
                                        [(ngModel)]="searchParams.lngAppActVoucherConfigId"
                                        name="lngAppActVoucherConfigId" [items]="initialData.DDLValues.DDLVoucherConfig"
                                        key="id" keyName="name" defaultOption="--Select--"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="date" label="Document Date To" placeholder="Select Date"
                                        [(ngModel)]="searchParams.documentDateTo" name="documentDateTo"
                                        [minDate]="searchParams.documentDateFrom"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="select" label="Created By"
                                        [(ngModel)]="searchParams.strEnteredby" name="strEnteredby"
                                        [items]="initialData.DDLValues.DDLUser" key="code" keyName="name"
                                        defaultOption="--Select--"></app-input-control>
                                </div>
                                <div class="col-md-12 ">
                                    <app-input-control type="select" label="Customer Currency"
                                        [(ngModel)]="searchParams.strDocCurrency" name="strDocCurrency"
                                        [items]="initialData.DDLValues.configSalesInvoiceCurrencyValue" key="constant"
                                        keyName="description" defaultOption="--Select--"></app-input-control>
                                </div>
                            </row>
                        </div>
                    </row>

                </div>
            </scroll>
        </div>
    </div>
</ng-template>
<ng-template #breadCrumb>
    <div class="breadcrumb">
        <ul>
            <li class="screen-name link">
                <!-- <div class="back-btn"> <ion-icon src="assets/icons/back.svg"></ion-icon></div> -->
                <ion-icon src="assets/icons/sales.svg"></ion-icon>
                <div class="screen-text" (click)="navigateToSales()">Sales</div>
            </li>
            <li class="screen-name">
                <div class="screen-text" (click)="navigateToList()">Sales Invoice</div>
            </li>
        </ul>
    </div>
</ng-template>