<div class="login">
    <div class="login-slot-left">
        <img src="assets/img/login-side.png" alt="">
    </div>
    <div class="login-slot-right">
        <div class="login-box">
            <div class="login-brand">
                <img src="assets/logo.png" alt="">
            </div>
            <div class="login-title">Reset Password</div>
            <div class="d-flex">
                <div class="login-info">
                    UserName: <span class="bold">{{appSettings.environment.emailId}}</span>
                </div>
            </div>
            <div class="spacer-1"></div>
            @if (!isCompleted) {
            <form #l="ngForm" (ngSubmit)="resetUserPassword(l)" autocomplete="off">
                <app-input-control label="New Password" type="password" [passwordStrength]="true"
                    [(ngModel)]="login.newPassword" name="newPassword"></app-input-control>
                <div class="spacer-1"></div>
                <app-input-control label="Confirm Password" type="password" [passwordStrength]="true"
                    [(ngModel)]="login.confirmPassword" name="confirmPassword"></app-input-control>
                <div class="spacer-1"></div>
                <button class="btn-login">Reset Password</button>
                <div class="spacer-1"></div>
                <div class="text-center">
                    <a href="/login" class="btn-link">Back to Login</a>
                </div>
            </form>
            } @else {
            <div class="login-message">
                Your password update was completed successfully.
            </div>
            <div class="spacer-2"></div>
            <div class="text-center">
                <a href="/login" class="btn-login">Back to Login</a>
            </div>
            }
        </div>
    </div>
</div>