<accordion-item [isOpen]="true">
    <accordion-header>
      <div class="accordion-header-content">
        <div class="accordion-title">
          <ion-icon src="assets/icons/accordian/notes.svg"></ion-icon>
          <div class="accordion-title-content">
            <div>Complete Will Application</div>
          </div>
        </div>
      </div>
    </accordion-header>
    <accordion-body>

      <div class="outer-content-wrapper">
        <div class="content-wrapper">
          <row>
            <div class="col-md-9">
              <row>
                <div class="col-md-4"> <view-label label="Assigned Officer" [value]="application.ientWillApplicationAssignedOfficerHistory.assignedToFullname"></view-label>
                </div>
                <div class="col-md-4"> <view-label label="Assigned Date" [value]="application.ientWillApplicationAssignedOfficerHistory.assignedDate | appDate"></view-label>
                </div>
                <!-- <div class="col-md-4"> <view-label label="TAT" value=" 5 Days"></view-label> -->
                <!-- </div> -->
              </row>
            </div>
            <div class="col-md-3">
              <div class="d-flex">
                @if(this.type.isEditable === 'Y'){
                    @if(this.application.reAssignFlag === 'True'){
                <form #p="ngForm" class="col-md-10 w250">
                  <app-input-control type="select" key="constant" keyName="description"
                  placeholder="Officer" [items]="assignedOfficerDDL"
                  defaultOption="--Select--"
                  [(ngModel)]="willApplicationAssignedOfficer.assignedTo"
                  name="assignedTo" ></app-input-control>
                
                </form>
                <div class="col-md-2"><app-icon-button name="reassign" toolTip="Reassign" (click)="reAssignWill()"></app-icon-button></div>
                 } 
                    @if(this.application.selfAssignFlag ===' True'){
                    <div class="col-md-2"><app-icon-button name="add" (click)="selfAssignWill()"
                            toolTip="Self Assign"></app-icon-button></div>
                    }
                }
              </div>
            </div>
          </row>
          <row>
            <div class="col-md-12 pb16"></div>
            <div class="col-md-12">
                <form #notiForm="ngForm">
                    <app-input-control type="textarea" className="notes" [errorTrue]="errorTrue" [maxLength]="250"
                      [required]="true" label="Notes" [(ngModel)]="notesMessage" name="notesMessage"></app-input-control>
                  </form>
                  @if(this.type.isEditable === 'Y' && application.assignedOfficerFlag === 'True' &&
                application.statusValue!=='WCNLD'){
                  <div class="end gap-10 mb26">
                    <app-icon-button name="save" toolTip="Save" (click)="saveNotes()"></app-icon-button>
                  </div>
                }
            </div>
             
            <div class="col-md-12 end gap-10">
              @if(this.type.isEditable === 'Y' && application.assignedOfficerFlag === 'True' &&
              application.statusValue!=='WCNLD'){
              <button type="submit" class="approve-btn" (click)="completeApplicationStage()">Will Application Completed</button>
              }
            </div>
            </row>
        </div></div>
        </accordion-body>
        </accordion-item>