<div class="content-wrapper" appAccess="URRSH" [parentId]="pageId">
  <app-table
    [pagination]="pagination"
    [columns]="columns"
    [columnsName]="columnsName"
    [dataSource]="tableData"
    [hideSelectAll]="true"
    [sortColumnsName]="sortColumnName"
    (pageChanged)="pageChanged($event)"
    columnID="userRequestId" [sortColumnsName]="sortColumns"
    (onSelect)="onSelect($event)"
  >
    =
    <ng-template cellDef="requestedDate" let-element>
      {{ element.requestedDate | appDate }}
      {{ element.requestedDate | appDate : "hh:mm a" }}
    </ng-template>
    <ng-template cellDef="requestStatusDescription" let-element>
      <!-- <div class="status status-{{element.statusValue}}">{{element.statusDescription}}</div> -->
      <accouts-status-table
        [statusDescription]="element.requestStatusDescription"
      ></accouts-status-table>
    </ng-template>
    <ng-template cellDef="action" let-element>
      <app-icon-button
        name="open"
        toolTip="Open"
        (click)="navigateToDetail(element.userRequestId)"
      ></app-icon-button>
    </ng-template>

    <ng-template #slotLeft>
      <app-search #appSearch [searchTemplate]="searchTemplate" maxHeight="400px"></app-search>
    </ng-template>
    <ng-template #slotRight>
      <app-icon-button
        name="add"
        toolTip="Add New"
        (click)="navigateToDetail(0)"
      >
      </app-icon-button>
    </ng-template>
  </app-table>
</div>
<ng-template #searchTemplate>
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-title">User Request Search</div>
      <div class="slot-right">
        <div class="btn-group">
          <app-icon-button
            name="search"
            toolTip="Search"
            (click)="onSearch()"
          ></app-icon-button>
          <app-icon-button
            name="clear"
            toolTip="Clear"
            (click)="clear()"
          ></app-icon-button>
          <app-icon-button
            name="close"
            (click)="closeAllDialog()"
          ></app-icon-button>
        </div>
      </div>
    </div>
    <div class="dialog-content-inner">
      <div class="content-wrapper">
        <div class="mb20"></div>
        <row>
          <div class="col-md-4">
            <app-input-control
              label="First Name"
              [(ngModel)]="searchParams.firstName"
              name="firstName"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Contact No"
              type="number"
              [(ngModel)]="searchParams.contactNumber"
              name="contactNo"
              [minLength]="5"
              [maxLength]="10"
             
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Email ID"
              type="email"
              [(ngModel)]="searchParams.emailId"
              name="emailId"
              [email]="true"
              organizationApplication.lstentOrganizationApplicationDocument
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Employee Code"
              [(ngModel)]="searchParams.employeeCode"
              [maxLength]="10"
              name="employeeCode"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Group"
              type="select"
              [(ngModel)]="searchParams.groupId"
              name="groupId"
              defaultOption="All"
              valueType="int"
              [items]="initialData.DDLValues.DDLUserGroup"
              key="id"
              keyName="name"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Requested By"
              [(ngModel)]="searchParams.requestedBy"
              name="requestedBy"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              type="date"
              label="Requested Date From"
              [(ngModel)]="searchParams.requestedFromDate"
              [maxDate]="searchParams.requestedToDate"
              name="requestedFromDate"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              type="date"
              label="Requested Date To"
              [(ngModel)]="searchParams.requestedToDate"
              [maxDate]="searchParams.requestedFromDate"
              name="requestedFromDate"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label="Request Ref No"
              [(ngModel)]="searchParams.requestRefNo"
              name="requestRefNo"
            ></app-input-control>
          </div>
          <div class="col-md-4">
            <app-input-control
              label=" Status"
              type="select"
              [(ngModel)]="searchParams.statusValue"
              name="statusValue"
              defaultOption="All"
              [items]="initialData.DDLValues.DDLUserRequestStatus"
              key="constant"
              keyName="description"
            ></app-input-control>
          </div>
        </row>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #breadCrumb>
  <div class="breadcrumb">
    <ul>
      <li class="screen-name">
        <ion-icon src="assets/icons/admin-icon.svg"></ion-icon>
        <div class="screen-text">User Request Search</div>
      </li>
    </ul>
  </div>
</ng-template>
